Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "**/sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "**/express-api/**/*.{ts,js}": [
    "./express-api/node_modules/.bin/prettier --write",
    "./express-api/node_modules/.bin/eslint --fix"
  ],
  "**/svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ]
}

fix: Add guards for limit==0
  elixir-api/lib/utils/sanity/query.ex
Due: none

chore: Use `with` syntax for `tags` endpoint
  elixir-api/lib/routes/api/v1.ex
Due: none

fix: Tiny px adjustment for now-playing widget
  svelte-app/src/components/nav/now-playing-widget.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Use new `Query` module for more endpoints
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/sanity/build_query.ex
  elixir-api/lib/utils/sanity/query.ex
Due: none

chore: Clean up old query module, old usage
  elixir-api/lib/plugs/verify_request.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/sanity/client.ex
  elixir-api/lib/sanity/query.ex
  elixir-api/lib/utils/query_cache.ex
  elixir-api/lib/utils/sanity/build_query.ex
Due: none

feat: Add some more test cases :)
  elixir-api/Makefile
  elixir-api/test/api_test.exs
  elixir-api/test/hexerei_test.exs
  elixir-api/test/query_test.exs
Due: none

feat: Update toru cover url to minimize res size
  svelte-app/src/lib/consts.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up some misc stuff
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/nav/nav-link.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove unused dep, config file
  svelte-app/package.json
  svelte-app/src/server.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Translate about page w/ GCP translations api
  .github/workflows/api.yml
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/translate.ex
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/more/+page.ts
  svelte-app/src/routes/api/[[version]]/get/about/+server.ts
  svelte-app/src/routes/api/[[version]]/get/post/[[many]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Translate post descriptions
  elixir-api/lib/utils/translate.ex
Due: none

fix: Fix up janky colour transitions
  svelte-app/src/app.scss
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/bar.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/theme.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Broken transitions on chromium 💀
  svelte-app/src/app.scss
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/controls/button.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/components/nav/slider-indicator.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update LICENSE
  LICENSE
Due: none

Update README.md
  README.md
Due: none

fix: explicitly specify DNS for API containers
  elixir-api/Makefile
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

feat: Update nav, some transitions
  svelte-app/package.json
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Gsap logo anim, updated fonts
  svelte-app/package.json
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/styles/_fonts.scss
  svelte-app/static/assets/fonts/hauora-sans/Hauora-variable.ttf
  svelte-app/tailwind.config.cjs
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Use svelte/motion for logo anim
  svelte-app/package.json
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Adjust code padding :p
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Initial Svelte + repl embeds
  Makefile
  package.json
  sanity-cms/schemas/fields/code.ts
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/objects/replit-embed.ts
  sanity-cms/schemas/objects/svelte-embed.ts
  sanity-cms/schemas/schema.ts
  svelte-app/.yarn/patches/rollup-plugin-polyfill-node-npm-0.12.0-354897d3cf.patch
  svelte-app/package.json
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/embeds/replit-embed.svelte
  svelte-app/src/components/portable-text/embeds/svelte-embed.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/lib/embeds/svelte-worker.ts
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/routes/api/[[version]]/transform/svelte/+server.ts
  svelte-app/types/app/sanity/pt.d.ts
  svelte-app/worker/package.json
  svelte-app/worker/rollup.config.js
  svelte-app/worker/src/worker-input.js
  svelte-app/yarn.lock
  yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Initial Svelte + repl embeds
  Makefile
  sanity-cms/schemas/fields/code.ts
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/objects/replit-embed.ts
  sanity-cms/schemas/objects/svelte-embed.ts
  sanity-cms/schemas/schema.ts
  svelte-app/.yarn/patches/rollup-plugin-polyfill-node-npm-0.12.0-354897d3cf.patch
  svelte-app/package.json
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/embeds/replit-embed.svelte
  svelte-app/src/components/portable-text/embeds/svelte-embed.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/lib/embeds/svelte-worker.ts
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/routes/api/[[version]]/transform/svelte/+server.ts
  svelte-app/types/app/sanity/pt.d.ts
  svelte-app/worker/package.json
  svelte-app/worker/rollup.config.js
  svelte-app/worker/src/worker-input.js
  svelte-app/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove unused root deps
  package.json
  yarn.lock
Due: none

feat: Check for specific source file
  svelte-app/src/lib/helpers/menu.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Pass RouteFetch down to PortableText serializers instead of fetch global
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/portable-text/embeds/svelte-embed.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page@.svelte
  svelte-app/types/app/index.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update Husky config
  .lintstagedrc.json
  package.json
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: none

fix: Setup PNPM
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
Due: none

fix: Makefile `lint` target, oops
  Makefile
Due: none

fix: package.json script error
  sanity-cms/package.json
  svelte-app/package.json
Due: none

fix: Use `vite-plugin-babel`, update config, fix Vite build errs
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up Sanity files, misc configs
  elixir-api/mix.lock
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  sanity-cms/sanity.cli.ts
  sanity-cms/sanity.config.ts
  sanity-cms/schemas/artwork.ts
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/base-document.ts
  sanity-cms/schemas/comment.ts
  sanity-cms/schemas/objects/header.ts
  sanity-cms/schemas/objects/replit-embed.ts
  sanity-cms/schemas/objects/svelte-embed.ts
  sanity-cms/schemas/post.ts
  sanity-cms/schemas/project.ts
  sanity-cms/schemas/renderers/link.tsx
  sanity-cms/schemas/schema.ts
  sanity-cms/schemas/settings.ts
  sanity-cms/tsconfig.json
  sanity-cms/views/JsonView.tsx
  svelte-app/.eslintrc
  svelte-app/.eslintrc.cjs
  svelte-app/postcss.config.cjs
  svelte-app/svelte.config.js
  svelte-app/vite.config.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update Readme
  README.md
Due: none

chore: Remove some dead / unused code
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu.svelte
  svelte-app/src/components/controls/rss-button.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/floating-bg-image.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/layouts/content-wrapper.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-social.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/lib/helpers/menu.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/more/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.ts
  svelte-app/src/routes/api/[[version]]/embed/[type]/[model]/[[slug]]/+server.ts
  svelte-app/src/routes/new/+layout.svelte
  svelte-app/src/routes/new/+layout.ts
  svelte-app/src/routes/new/+page.svelte
  svelte-app/src/stores/cursor.ts
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/menu.ts
  svelte-app/src/stores/navigation.ts
  svelte-app/test/components/nav.test.skip.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Try to abort timed-out fetch early if in SSR
  svelte-app/src/lib/store.ts
  svelte-app/src/lib/try-fetch.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Layout issue + nav indicator reactivity
  svelte-app/src/components/layouts/content-wrapper.svelte
  svelte-app/src/components/nav/nav-link.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Update deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

chore(svelte): Clean up some tests, workflows
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  svelte-app/cypress.config.ts
  svelte-app/cypress/component/.gitkeep
  svelte-app/cypress/e2e/features/sounds.cy.ts
  svelte-app/cypress/e2e/features/theme.cy.ts
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/cypress/fixtures/about.ts
  svelte-app/cypress/types.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix
