Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, npx stylelint --fix, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Rename '$app/env' import to '$app/environment'
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/theme.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Replace remaining sync icons, replace w/ safeIcon component
  svelte-app/src/app.html
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/icon-header.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/lib/helpers/menu.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/routes/secret/+page.ts
  svelte-app/src/routes/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Disable SSR for certain routes while testing
  svelte-app/cypress/fixtures/index.ts
  svelte-app/package.json
  svelte-app/src/hooks.ts
  svelte-app/src/lib/cache.ts
  svelte-app/src/stores/blog.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Disable SSR for certain routes while testing
  svelte-app/cypress/fixtures/index.ts
  svelte-app/package.json
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/hooks.ts
  svelte-app/src/lib/cache.ts
  svelte-app/src/stores/blog.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Optimise project list-item card layout
  svelte-app/src/components/work/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add context menu option for email address :)
  svelte-app/src/lib/helpers/menu.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "Bump @sveltejs/kit from 1.0.0-next.445 to 1.0.0-next.449 in /svelte-app"
  svelte-app/yarn.lock
Due: none

Specify kit@1.0.0-next.446, update async icon usage
  .gitignore
  sanity-cms/package.json
  sanity-cms/yarn.lock
  svelte-app/package.json
  svelte-app/src/components/blog/post-content.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/icon-header.svelte
  svelte-app/src/components/safe-icon.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/project-content.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/lib/helpers/menu.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/all/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/stores/icons.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Clean up +layout scss, extract to new file, abstract some TW classes
  .lintstagedrc.json
  svelte-app/postcss.config.cjs
  svelte-app/src/app.scss
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/svelte.config.js
  svelte-app/tailwind.config.cjs
  svelte-app/vite.config.ts
Due: npx stylelint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Clean up headings a bit
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update README.md
  README.md
Due: none

Start w/ algolia client, update some UI styles
  express-api/.eslintrc
  express-api/lib/search.ts
  express-api/package.json
  express-api/yarn.lock
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/lib/helpers/date.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

add /art route, bump devalue to 3.1.3
  svelte-app/package.json
  svelte-app/src/app.scss
  svelte-app/src/components/error-text.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/lib/transitions.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/art/+page.svelte
  svelte-app/src/routes/art/+page.ts
  svelte-app/src/routes/art/[slug]/+page.svelte
  svelte-app/src/routes/art/all/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: npx stylelint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add webhook endpoints for algolia, hope they work lol
  .github/workflows/api-deploy.yml
  Makefile
  express-api/client.ts
  express-api/index.ts
  express-api/lib/env.ts
  express-api/lib/index.ts
  express-api/lib/query.ts
  express-api/lib/search.ts
  express-api/package.json
  express-api/queries/index.ts
  express-api/yarn.lock
  svelte-app/src/lib/api.ts
  svelte-app/src/lib/logger.ts
  svelte-app/src/routes/about/+page.ts
  svelte-app/src/routes/api/get/about/+server.ts
  svelte-app/src/routes/api/getAbout/+server.ts
  svelte-app/src/stores/about.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add some debug logs to api webhooks route
  express-api/index.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

remove extra debug statements
  express-api/index.ts
  express-api/lib/search.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

Fix cypress tests, incorrect stub route
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/types.d.ts
  svelte-app/package.json
  svelte-app/src/hooks.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix navigation, transitions, revert svelte 3.50 bump
  svelte-app/package.json
  svelte-app/src/app.scss
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/helpers/post.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: npx stylelint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update syntaxes for kit update
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/hooks.server.ts
  svelte-app/src/hooks.ts
  svelte-app/src/lib/transitions.ts
  svelte-app/src/routes/+page.ts
  svelte-app/src/routes/about/+page.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/blog/t/+page.svelte
  svelte-app/src/routes/blog/t/[slug]/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/t/+page.svelte
  svelte-app/src/routes/work/t/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add custom cursor, fix mobile device UA check
  svelte-app/src/app.scss
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/icon-button.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/toggles/switch.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/lib/helpers/browser.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/stores/features.ts
Due: npx stylelint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update scroll handling, cursor appearence
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update nav logic, yarn pkgs
  express-api/yarn.lock
  sanity-cms/package.json
  sanity-cms/yarn.lock
  scripts/dev.sh
  scripts/install.sh
  scripts/server.sh
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/index/list-item.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/art/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/blog/all/+page.svelte
  svelte-app/src/routes/blog/t/+page.svelte
  svelte-app/src/routes/blog/t/[slug]/+page.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/routes/pgp/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/routes/work/t/+page.svelte
  svelte-app/src/routes/work/t/[slug]/+page.svelte
  svelte-app/src/stores/icons.ts
  svelte-app/src/stores/navigation.ts
  svelte-app/src/stores/posts.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update kit, animations, cursor state
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/icon-button.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/switch.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/pgp/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/stores/cursor.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add elixir api
  .gitignore
  elixir_api/.formatter.exs
  elixir_api/Makefile
  elixir_api/README.md
  elixir_api/config/config.exs
  elixir_api/config/dev.env.exs
  elixir_api/config/prod.env.exs
  elixir_api/config/test.env.exs
  elixir_api/lib/app/application.ex
  elixir_api/lib/app/router.ex
  elixir_api/lib/routes/api.ex
  elixir_api/lib/routes/api/v1.ex
  elixir_api/lib/routes/cdn.ex
  elixir_api/lib/utils/build_query.ex
  elixir_api/lib/utils/sanity_client.ex
  elixir_api/lib/utils/verify_request.ex
  elixir_api/mix.exs
  elixir_api/mix.lock
  elixir_api/scripts/start.sh
  elixir_api/test/hexerei_test.exs
  elixir_api/test/test_helper.exs
  rust-api/.gitignore
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/rust-toolchain
  rust-api/src/main.rs
  rust-api/src/sanity/client.rs
  rust-api/src/sanity/mod.rs
Due: none

Update README.md
  elixir_api/README.md
Due: none

add readme's
  express-api/README.md
  svelte-app/README.md
Due: none

try to rerun api CI
  express-api/index.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

Start postMany endpoint for new api :)
  elixir_api/lib/app/router.ex
  elixir_api/lib/routes/api/v1.ex
  elixir_api/lib/utils/build_query.ex
Due: none

Add pagination for blog/work routes :)
  elixir_api/scripts/start.sh
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/safe-icon.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/params/int.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.ts
  svelte-app/src/routes/blog/all/+page.ts
  svelte-app/src/routes/blog/t/[slug]/+page.svelte
  svelte-app/src/routes/blog/t/[slug]/+page.ts
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[page=int]/+page.svelte
  svelte-app/src/routes/work/[page=int]/+page.ts
  svelte-app/src/routes/work/all/+page.svelte
  svelte-app/src/routes/work/all/+page.ts
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/icons.ts
  svelte-app/src/stores/posts.ts
  svelte-app/static/assets/logo-detailed.png
  svelte-app/static/assets/logo-standard.png
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add timeline to About route
  express-api/lib/query.ts
  sanity-cms/schemas/author.js
  sanity-cms/yarn.lock
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/about/section.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/content-wrapper.svelte
  svelte-app/src/components/icon-header.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/work/[page=int]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/stores/icons.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add tags to timeline, fix groq query
  express-api/lib/query.ts
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/lib/types.d.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add error-bound component
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/error-bound/create-error-bound.ts
  svelte-app/src/lib/error-bound/error-bound.svelte
  svelte-app/src/lib/error-bound/error-bound.ts
  svelte-app/src/lib/error-bound/index.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/routes/pgp/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update tag routes
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/blog/+/+page.svelte
  svelte-app/src/routes/blog/+/[slug]/+page.svelte
  svelte-app/src/routes/blog/+/[slug]/+page.ts
  svelte-app/src/routes/work/+/+page.svelte
  svelte-app/src/routes/work/+/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Bump sveltekit, update tag routing / redirs
  svelte-app/package.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/blog/+/+page.svelte
  svelte-app/src/routes/blog/+/+page.ts
  svelte-app/src/routes/blog/+/[slug]/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/work/+/+page.svelte
  svelte-app/src/routes/work/+/+page.ts
  svelte-app/src/routes/work/+/[slug]/+page.svelte
  svelte-app/src/routes/work/[page=int]/+page.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: **/sanity-cms/**/*.{ts,js}
  ./sanity-cms/node_modules/.bin/eslint --fix: any of: **/sanity-cms/**/*.{ts,js}
  npx stylelint --fix: any of: *.scss
  ./express-api/node_modules/.bin/prettier --write: any of: **/express-api/**/*.{ts,js}
  ./express-api/node_modules/.bin/eslint --fix: any of: **/express-api/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: **/svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: **/svelte-app/**/*.{svelte,ts,js}
