Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "**/sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "**/express-api/**/*.{ts,js}": [
    "./express-api/node_modules/.bin/prettier --write",
    "./express-api/node_modules/.bin/eslint --fix"
  ],
  "**/svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ]
}

Bump sveltekit, update tag routing / redirs
  svelte-app/package.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/blog/+/+page.svelte
  svelte-app/src/routes/blog/+/+page.ts
  svelte-app/src/routes/blog/+/[slug]/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/work/+/+page.svelte
  svelte-app/src/routes/work/+/+page.ts
  svelte-app/src/routes/work/+/[slug]/+page.svelte
  svelte-app/src/routes/work/[page=int]/+page.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Move elixir_api to elixir-api, start cdn plug
  elixir-api/.formatter.exs
  elixir-api/Makefile
  elixir-api/README.md
  elixir-api/config/config.exs
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/algolia_client.ex
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/sanity_client.ex
  elixir-api/lib/utils/verify_request.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
  elixir-api/scripts/start.sh
  elixir-api/test/hexerei_test.exs
  elixir-api/test/test_helper.exs
  elixir_api/lib/routes/cdn.ex
  svelte-app/src/routes/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add tag filters, page meta, clean up stores
  express-api/lib/query.ts
  express-api/types.d.ts
  svelte-app/package.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/blog/+/+page.ts
  svelte-app/src/routes/blog/+/[slug]/+page.svelte
  svelte-app/src/routes/blog/+/[slug]/+page.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.ts
  svelte-app/src/routes/work/+/[slug]/+page.svelte
  svelte-app/src/routes/work/+/[slug]/+page.ts
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/+page.ts
  svelte-app/src/routes/work/[page=int]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.ts
  svelte-app/src/stores/blog.ts
  svelte-app/src/stores/work.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update dependabot.yml
  .github/dependabot.yml
Due: none

fix: more loading msgs, complete Cache class CacheData type
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/lib/cache.ts
  svelte-app/src/routes/+layout.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: add breakpoints lib, new mobile header
  svelte-app/cypress.config.ts
  svelte-app/cypress/component/.gitkeep
  svelte-app/cypress/e2e/features/sounds.cy.ts
  svelte-app/cypress/integration/loader.spec.ts
  svelte-app/cypress/support/component.ts
  svelte-app/cypress/tsconfig.json
  svelte-app/package.json
  svelte-app/src/app.d.ts
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/stores/icons.ts
  svelte-app/test/components/loader.test.skip.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: temp disable part of sound cy test, add other testcase
  svelte-app/cypress/e2e/features/sounds.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: codeblock overflow, footer-controls breakpoints
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/footer-controls.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: clean up imports, error page, add .well-known dir
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/icon-button.svelte
  svelte-app/src/lib/fixtures/pgp.ts
  svelte-app/src/lib/fixtures/robots.ts
  svelte-app/src/lib/fixtures/well-known.ts
  svelte-app/src/params/txt.ts
  svelte-app/src/params/well_known.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/.well-known/[path]/+server.ts
  svelte-app/src/routes/[file=txt]/+server.ts
  svelte-app/src/routes/api/get/about/+server.ts
  svelte-app/src/routes/api/pgp/+server.ts
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/work/+page.ts
  svelte-app/src/routes/work/[page=int]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: remove unused event dispatcher
  svelte-app/src/components/context-menu.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: add node/rb version files
  .node_version
  .ruby_version
Due: none

feat: add comment scheme & update sitesettings schema
  sanity-cms/deskStructure.js
  sanity-cms/schemas/comment.js
  sanity-cms/schemas/schema.js
  sanity-cms/schemas/settings.js
Due: ./sanity-cms/node_modules/.bin/prettier --write

feat(elixir-api): add templates for sanity queries, add Res module
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/res.ex
  elixir-api/lib/utils/verify_request.ex
Due: none

feat(elixir-api): finish init CDN fns, query templates, res structure
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/sanity_client.ex
Due: none

Revert "chore(deps-dev): bump @sveltejs/adapter-netlify from 1.0.0-next.78 to 1.0.0-next.81 in /svelte-app"
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

feat(elixir-api): add queries for tags, projects
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/sanity_client.ex
Due: none

ci: update ignore paths
  .github/workflows/api.yml
  .github/workflows/ci.yml
  .github/workflows/sanity.yml
Due: none

feat(elixir-api): start on monitoring setup, add healthcheck endpoint, fix start script
  elixir-api/Makefile
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/app/router.ex
  elixir-api/lib/utils/sanity_client.ex
  elixir-api/mix.exs
  elixir-api/scripts/start.sh
Due: none

Revert "chore(deps-dev): bump rollup from 2.79.1 to 3.2.3 in /svelte-app"
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

Revert "chore(deps-dev): bump @sveltejs/adapter-auto from 1.0.0-next.80 to 1.0.0-next.83 in /svelte-app"
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

feat: Add docker.build task for elixir-api, update release script
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
  elixir-api/bin/start
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/mix/tasks/docker.build.ex
  elixir-api/lib/mix/tasks/docker.ex
  elixir-api/lib/mix/tasks/utils.ex
  elixir-api/lib/routes/api.ex
  elixir-api/lib/utils/verify_request.ex
  elixir-api/mix.exs
Due: none

chore(root): Update README
  README.md
Due: none

feat(svelte-app): list-item styles, a11y
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/work/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(ci): update ci path excludes, update sanity
  .github/dependabot.yml
  .github/workflows/test.yml
  sanity-cms/package.json
  sanity-cms/yarn.lock
Due: none

feat: Add dockerfile for elixir-api, add favicons
  .github/workflows/hexerei-deploy.yml
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
  elixir-api/bin/start
  elixir-api/config/prod.env.exs
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/verify_request.ex
  svelte-app/src/app.html
  svelte-app/src/lib/data/normalize.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/static/android-chrome-192x192.png
  svelte-app/static/android-chrome-512x512.png
  svelte-app/static/apple-touch-icon.png
  svelte-app/static/favicon-16x16.png
  svelte-app/static/favicon-32x32.png
  svelte-app/static/favicon.ico
  svelte-app/static/favicon.png
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update README.md
  elixir-api/README.md
Due: none

feat: Add initial workflow for elixir api
  .github/workflows/hexerei-deploy.yml
  .github/workflows/hexerei.yml
  elixir-api/lib/app/router.ex
Due: none

feat: Switch to Elixir api, add CI workflow
  .github/workflows/api-deploy.yml
  .github/workflows/api.yml
  .github/workflows/hexerei.yml
  Makefile
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/build_query.ex
  svelte-app/.eslintrc.cjs
  svelte-app/.prettierrc.json
  svelte-app/src/lib/helpers/image.ts
  svelte-app/src/routes/api/get/about/+server.ts
  svelte-app/src/routes/api/getConfig/+server.ts
  svelte-app/src/routes/api/getPost/+server.ts
  svelte-app/src/routes/api/getPosts/+server.ts
  svelte-app/src/routes/api/getProject/+server.ts
  svelte-app/src/routes/api/getProjects/+server.ts
  svelte-app/src/routes/pgp/+page.ts
  svelte-app/src/stores/blog.ts
  svelte-app/src/stores/work.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update envs, workflows
  .github/workflows/api.yml
  .github/workflows/cypress.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  .github/workflows/vitest.yml
  svelte-app/src/lib/env.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Remove express-api dir and old references
  elixir-api/Dockerfile
  elixir-api/bin/release
  express-api/.eslintrc
  express-api/.prettierignore
  express-api/.prettierrc.json
  express-api/README.md
  express-api/client.ts
  express-api/index.ts
  express-api/lib/env.ts
  express-api/lib/index.ts
  express-api/lib/query.ts
  express-api/lib/search.ts
  express-api/package.json
  express-api/queries/index.ts
  express-api/tsconfig.json
  express-api/types.d.ts
  express-api/webpack.config.js
  express-api/yarn.lock
  scripts/dev.sh
  scripts/install.sh
  scripts/server.sh
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

Update README.md
  README.md
Due: none

chore(svelte): Bump Yarn to v4
  svelte-app/.gitignore
  svelte-app/.yarn/releases/yarn-4.0.0-rc.25.cjs
  svelte-app/.yarnrc.yml
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

fix(sanity): Regenerate lockfile
  sanity-cms/.gitignore
  sanity-cms/yarn.lock
Due: none

chore: Clean up some scripts, makefile cmds
  Makefile
  elixir-api/Dockerfile
  elixir-api/bin/release
  elixir-api/bin/start
  scripts/cypress.sh
  scripts/vitest.sh
Due: none

feat: Refactor feature flags for future perms
  svelte-app/cypress/e2e/features/sounds.cy.ts
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/art/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/[page=int]/+page.svelte
  svelte-app/src/routes/features/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add sidebar for posts routes
  elixir-api/bin/release
  elixir-api/bin/start
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-content.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/blog/post-sidebar.svelte
  svelte-app/src/components/content-wrapper.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/lib/error-bound/error-bound.ts
  svelte-app/src/lib/helpers/post.ts
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/stores/icons.ts
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Clean up some classes
  svelte-app/src/app.scss
  svelte-app/src/components/about/card.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Refactor sidebar, pt fns
  svelte-app/src/components/blog/post-sidebar.svelte
  svelte-app/src/components/blog/sidebar.svelte
  svelte-app/src/components/blog/sidebar/items.svelte
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Add some more unit tests
  svelte-app/package.json
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/lib/store.ts
  svelte-app/test/fixtures/pt.ts
  svelte-app/test/helpers/pt.test.ts
  svelte-app/test/store.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix
