Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "**/sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "**/express-api/**/*.{ts,js}": [
    "./express-api/node_modules/.bin/prettier --write",
    "./express-api/node_modules/.bin/eslint --fix"
  ],
  "**/svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ]
}

chore: Delete TODO.md
  TODO.md
Due: none

chore: Update readme.md
  README.md
Due: none

chore: Update Vite config ENV vars, fix features.ts
  svelte-app/src/stores/features.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Try building test env before unit tests
  .github/workflows/test.yml
Due: none

misc: Fix (?) vitest import issue, start sanity query builder
  .github/workflows/test.yml
  elixir-api/lib/utils/sanity/build_query.ex
  elixir-api/lib/utils/sanity/client.ex
  elixir-api/lib/utils/sanity/query.ex
  svelte-app/vite.config.ts
  svelte-app/vitest.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Flag prop names, remove temp vite logs
  svelte-app/src/stores/features.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add vitejs/legacy plugin for better browser support
  svelte-app/package.json
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Update envs, add babel to vite plugins
  .node_version
  svelte-app/.nvmrc
  svelte-app/package.json
  svelte-app/tsconfig.json
  svelte-app/types/global.d.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: only apply babel on prod build (dev mode is not compat)
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: don't use commonjs transform, fix large chunk sizes
  svelte-app/package.json
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update nav logo, tooltip positioning
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Cy tooltip test
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/src/components/nav/nav.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Cy tooltip test
  svelte-app/cypress/e2e/features/tooltips.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: fix cy test, add '/new' route
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/new/+layout.svelte
  svelte-app/src/routes/new/+layout.ts
  svelte-app/src/routes/new/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add service worker for caching, 'new design' feat
  svelte-app/service-worker.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: update README.md
  README.md
Due: none

chore: Upgrade sanity deps
  sanity-cms/package.json
  sanity-cms/yarn.lock
Due: none

feat: change colours, update colour var usage
  svelte-app/cypress/e2e/features/theme.cy.ts
  svelte-app/src/app.scss
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/bullet-point.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/divider.svelte
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/switch.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/error-bound/error-bound.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/styles/_colors.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme
  README.md
Due: none

feat: add 'contact' PT field to schema
  elixir-api/lib/utils/sanity/build_query.ex
  sanity-cms/schemas/author.ts
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.ts
  svelte-app/types/app/documents/author.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Patch twemoji to remove hardcoded source, maxcdn shut down
  svelte-app/.yarn/patches/twemoji-npm-14.0.2-bd5648dce6.patch
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Regenerate sanity lockfile
  sanity-cms/yarn.lock
Due: none

Fix hljs code block props :)
  svelte-app/src/components/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Use linenumbers within codeblocks
  svelte-app/src/components/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add Rome formatter/linter
  svelte-app/package.json
  svelte-app/rome.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/data/normalize.ts
  svelte-app/src/lib/error-bound/create-error-bound.ts
  svelte-app/src/lib/error-bound/error-bound.svelte
  svelte-app/src/lib/error-bound/error-bound.ts
  svelte-app/src/lib/error-bound/index.ts
  svelte-app/src/lib/helpers/image.ts
  svelte-app/src/lib/sfx/index.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/about/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/embed/[type]/[model]/[[slug]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/comment/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/project/[[many]]/+server.ts
  svelte-app/src/server.ts
  svelte-app/src/stores/features.ts
  svelte-app/tsconfig.json
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Added loader bar for mobile, cleaned up some unused code
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/bar.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/loading/inline.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/pgp/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Longer delay for tooltips, update post, post-list
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/list-section.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: list-item margin calcs
  svelte-app/src/components/blog/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme screenshots
  README.md
Due: none

chore: Update syntax for CodeInput field
  Makefile
  sanity-cms/schemas/fields/code.ts
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/utils/code.ts
  sanity-cms/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Usage of '-ci' make target
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
Due: none

fix: page control navigation targeting wrong store
  svelte-app/src/components/controls/page-controls.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Refactor API v1
  .github/workflows/test.yml
  Makefile
  elixir-api/Makefile
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/plugs/verify_request.ex
  elixir-api/lib/utils/res.ex
  elixir-api/lib/utils/sanity/client.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/mix.exs
  elixir-api/test/hexerei_test.exs
Due: none

fix: More misc API fixes
  elixir-api/Makefile
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/res.ex
Due: none

feat: Rework index layout, display fonts
  Makefile
  svelte-app/package.json
  svelte-app/scripts/sort-json.ts
  svelte-app/src/app.scss
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/fiona-placeholder.svelte
  svelte-app/src/components/floating-bg-image.svelte
  svelte-app/src/components/link-non-pt.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/helpers/responsive.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/src/styles/_fonts.scss
  svelte-app/svelte.config.js
  svelte-app/tailwind.config.cjs
  svelte-app/tsconfig.json
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: remove json format from lint task
  svelte-app/package.json
Due: none

fix: Fix/adjust some spacing? maybe
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix
