Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Sidebar heading util (again)
  svelte-app/src/components/blog/sidebar/items.svelte
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/test/helpers/pt.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Clean up duplicated route code for docs
  svelte-app/src/components/blog/more-posts.svelte
  svelte-app/src/components/blog/post-content.svelte
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/post/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/document/content/wrapper.svelte
  svelte-app/src/components/document/route/wrapper.svelte
  svelte-app/src/components/document/sidebar.svelte
  svelte-app/src/components/document/sidebar/items.svelte
  svelte-app/src/components/work/project-content.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/blog/+/[slug]/+page.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/work/+/[slug]/+page.ts
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Refactor a bunch more stuff
  svelte-app/.eslintrc.cjs
  svelte-app/src/components/background-waves.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/document/route/wrapper.svelte
  svelte-app/src/components/document/sidebar.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/.well-known/[path]/+server.ts
  svelte-app/src/routes/[file=txt]/+server.ts
  svelte-app/src/routes/api/get/parsedPt/+server.ts
  svelte-app/src/routes/api/getPosts/+server.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.ts
  svelte-app/src/routes/pgp/+page.ts
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: make pt test async
  svelte-app/test/helpers/pt.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Update svelte config, api opt routes
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/[[lang=lang]]/[file=txt]/+server.ts
  svelte-app/src/routes/api/actions/.gitkeep
  svelte-app/src/routes/api/auth/.gitkeep
  svelte-app/src/routes/api/get/config/+server.ts
  svelte-app/src/routes/api/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/get/project/[[many]]/+server.ts
  svelte-app/src/routes/api/getProject/+server.ts
  svelte-app/src/routes/api/getProjects/+server.ts
  svelte-app/src/routes/api/pgp/+server.ts
  svelte-app/svelte.config.js
  svelte-app/test/store.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Fix dynamic routes, prefetch links
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/store.ts
  svelte-app/src/params/lang.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/stores/features.ts
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Refactor sfx, add more route layouts to reduce dupe code
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/sfx/index.ts
  svelte-app/src/lib/transitions.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/art/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page@.svelte
  svelte-app/src/routes/api/actions/generateEmbed/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Refactor nav, +layout, onNav fn
  svelte-app/src/components/about/section.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/error-text.svelte
  svelte-app/src/components/headings/icon-header.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/icons/icon-button.svelte
  svelte-app/src/components/icons/safe-icon.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/transitions.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/art/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.svelte
  svelte-app/src/routes/api/actions/generateEmbed/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(elixir-api,svelte): Prepare for JWT, update Logger, tags route
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/jwt.ex
  elixir-api/lib/utils/plugs/verify_request.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
  svelte-app/src/lib/logger.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page@.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): De-jankify main layout, fix tag query
  elixir-api/lib/utils/build_query.ex
  svelte-app/src/components/context-menu.svelte
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/document/sidebar.svelte
  svelte-app/src/components/document/sidebar/inner.svelte
  svelte-app/src/components/document/sidebar/toggle.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/data/normalize.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/icons.ts
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update nav, links, layoutLoad
  sanity-cms/schemas/settings.js
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/loading/animations/circle.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/test/components/nav.test.skip.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): e2e test fix for missing socials
  svelte-app/src/components/nav/nav.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): 404s from API
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/api/get/post/[[many]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update cursor styles, lang button
  svelte-app/src/app.scss
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/document/sidebar.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Add table-of-contents component, remove sidebar
  svelte-app/src/app.scss
  svelte-app/src/components/context-menu/divider.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/summary-items.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/document/sidebar.svelte
  svelte-app/src/components/document/sidebar/inner.svelte
  svelte-app/src/components/document/sidebar/items.svelte
  svelte-app/src/components/document/sidebar/toggle.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/icons.ts
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Update summary component, optimise icon loading
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/components/error-text.svelte
  svelte-app/src/components/headings/icon-header.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/icons/icon-button.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/icons.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.svelte
  svelte-app/src/stores/icons.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Adjust some spacing for headings/footings
  svelte-app/src/app.scss
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Improve i18n & a11y :)
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/lib/icons.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/pgp/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Bump @sveltejs/kit to latest
  svelte-app/package.json
  svelte-app/src/app.scss
  svelte-app/src/lib/data/normalize.ts
  svelte-app/src/lib/fixtures/pgp.ts
  svelte-app/src/routes/api/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/get/project/[[many]]/+server.ts
  svelte-app/svelte.config.js
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Bump @sveltejs/kit, update config opts
  svelte-app/package.json
  svelte-app/src/routes/+layout.ts
  svelte-app/svelte.config.js
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Use Fiona for project images and embeds
  svelte-app/package.json
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/helpers/placeholders.ts
  svelte-app/src/types/fiona/index.d.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(sanity): Remove broken validation rule gdi
  sanity-cms/schemas/project.js
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix(svelte,elixir): Properly query tags
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/build_query.ex
  sanity-cms/schemas/project.js
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.ts
  svelte-app/src/routes/api/get/about/+server.ts
  svelte-app/src/routes/api/get/config/+server.ts
  svelte-app/src/routes/api/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/get/tag/[[many]]/+server.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(elixir): Fix sort/order for tags endpoint
  elixir-api/lib/routes/api/v1.ex
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Distinguish between external/post-like projects
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Add 'maybe' transition, add env.server.ts
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/tags.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/env.server.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/helpers/animate.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Broken pageTransitions with reduce-motion
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/helpers/menu.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps): bump @sanity/code-input from 2.35.0 to 3.0.0 in /sanity-cms"
  sanity-cms/package.json
  sanity-cms/yarn.lock
Due: none

Upgrade to Sanity Studio v3
  .github/workflows/sanity.yml
  sanity-cms/.eslintrc
  sanity-cms/.gitignore
  sanity-cms/components/BrandLogo.tsx
  sanity-cms/config/.checksums
  sanity-cms/config/@sanity/data-aspects.json
  sanity-cms/config/@sanity/default-layout.json
  sanity-cms/config/@sanity/default-login.json
  sanity-cms/config/@sanity/form-builder.json
  sanity-cms/config/@sanity/vision.json
  sanity-cms/package.json
  sanity-cms/plugins/.gitkeep
  sanity-cms/plugins/studio-logo/Logo.js
  sanity-cms/plugins/studio-logo/sanity.json
  sanity-cms/plugins/studio-logo/schnauzer.png
  sanity-cms/sanity.cli.ts
  sanity-cms/sanity.config.ts
  sanity-cms/sanity.json
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/comment.ts
  sanity-cms/schemas/objects/divider.ts
  sanity-cms/schemas/post.ts
  sanity-cms/schemas/project.ts
  sanity-cms/schemas/schema.js
  sanity-cms/schemas/schema.ts
  sanity-cms/schemas/settings.ts
  sanity-cms/schemas/tag.ts
  sanity-cms/structure.ts
  sanity-cms/tsconfig.json
  sanity-cms/views/JsonView.tsx
  sanity-cms/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write

feat(svelte): Add optional api ver, start embed endpoint
  sanity-cms/deskStructure.js
  sanity-cms/scripts/deleteUnusedAssets.ts
  svelte-app/package.json
  svelte-app/src/routes/api/[[version]]/auth/.gitkeep
  svelte-app/src/routes/api/[[version]]/embed/[type]/[model]/[[slug]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/about/+server.ts
  svelte-app/src/routes/api/[[version]]/get/config/+server.ts
  svelte-app/src/routes/api/[[version]]/get/parsedPt/+server.ts
  svelte-app/src/routes/api/[[version]]/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/project/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/tag/[[many]]/+server.ts
  svelte-app/src/routes/api/actions/generateEmbed/+server.ts
  svelte-app/src/routes/api/auth/.gitkeep
  svelte-app/static/assets/logo-detailed.png
  svelte-app/static/assets/logo-standard.webp
  svelte-app/svelte.config.ts
  svelte-app/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(elixir): Update query for Author
  elixir-api/lib/utils/build_query.ex
  svelte-app/types/app/documents/author.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte,sanity): Rework schemas, documents
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/post.ts
  sanity-cms/schemas/project.ts
  sanity-cms/schemas/renderers/footnote.tsx
  sanity-cms/schemas/renderers/highlight.tsx
  sanity-cms/schemas/renderers/link.tsx
  sanity-cms/structure.ts
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/post/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/ol-item.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-item.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/lib/helpers/placeholders.ts
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/svelte.config.js
  svelte-app/vite.config.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Update focus states and stuff
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/tags.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(sanity): Remove redundant line from structure
  sanity-cms/structure.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix(sanity): Remove redundant line from structure
  sanity-cms/schemas/settings.ts
  sanity-cms/structure.ts
  svelte-app/types/app/config/index.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Bump svelte-breakpoints to 0.2.0
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

chore(svelte): Update prefetch syntax for kit-571
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/work/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update README.md
  README.md
Due: none

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: **/sanity-cms/**/*.{ts,js}
  ./express-api/node_modules/.bin/prettier --write: any of: **/express-api/**/*.{ts,js}
  ./express-api/node_modules/.bin/eslint --fix: any of: **/express-api/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: **/svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: **/svelte-app/**/*.{svelte,ts,js}
