Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Shadows for container content overflow
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Bump misc deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Bump PNPM ver for CI
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
  sanity-cms/pnpm-lock.yaml
Due: none

fix: Bump PNPM ver used for Unit tests to fix error in CI i fcking hate this
  .github/workflows/test.yml
Due: none

feat: Resizable main container
  svelte-app/src/components/layouts/scroll-container.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove remaining `Icon` usages
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/icons/alert.svelte
  svelte-app/src/lib/icons/arrow-bar-up.svelte
  svelte-app/src/lib/icons/arrow-left.svelte
  svelte-app/src/lib/icons/arrow-right.svelte
  svelte-app/src/lib/icons/arrow-up.svelte
  svelte-app/src/lib/icons/at.svelte
  svelte-app/src/lib/icons/backburger.svelte
  svelte-app/src/lib/icons/base-icon-wrapper.svelte
  svelte-app/src/lib/icons/check.svelte
  svelte-app/src/lib/icons/copy.svelte
  svelte-app/src/lib/icons/downasaur.svelte
  svelte-app/src/lib/icons/external-link.svelte
  svelte-app/src/lib/icons/forwardburger.svelte
  svelte-app/src/lib/icons/git-branch.svelte
  svelte-app/src/lib/icons/git-commit.svelte
  svelte-app/src/lib/icons/index.ts
  svelte-app/src/lib/icons/label.svelte
  svelte-app/src/lib/icons/link.svelte
  svelte-app/src/lib/icons/mail-arrow-right.svelte
  svelte-app/src/lib/icons/moon-stars.svelte
  svelte-app/src/lib/icons/script.svelte
  svelte-app/src/lib/icons/sun.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Tweak header/footer shadows, list-item hover fx
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/lists/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Tweak mobile breakpoint padding
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/images/image-modal.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Collapse extra-long code blocks by default
  svelte-app/src/components/code-block.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/styles/_helpers.scss
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Explicit type attr for button ;-;
  svelte-app/src/components/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: New gradient utils, adjust link style
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/styles/_helpers.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Improve tag sort, nav transition logic
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/route-trie.ts
  svelte-app/src/lib/utils.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Respect `preview` param
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Guard against `nil` PT block values when translating
  elixir-api/lib/utils/translate.ex
Due: none

test: Update `translate.ex` cases
  elixir-api/test/api/post_posts_test.exs
  elixir-api/test/translate_test.exs
Due: none

temp: Integrate Toru widget into sidebar
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/components/sidebar/toru.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Tidy elixir api err handling, summary gen
  elixir-api/lib/app/application.ex
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
Due: none

feat: Add sidebar fields to sanity schema
  sanity-cms/schemas/settings.ts
  svelte-app/types/app/config/index.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove old header/footer components
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Add new translations
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Tidy new styles, now-playing widget
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/layouts/base-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/components/sidebar/toru.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/sidebar.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove leftover comments
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/lists/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

temp: Add temp avi
  svelte-app/src/components/sidebar.svelte
  svelte-app/static/assets/tmp_avi.jpg
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Slightly debounce header IntersectionObserver, tweak i18n wording
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Tidy sidebar styling, remove leftover comments
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/utils/translate.ex
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/components/sidebar/toru.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Timeline item icons, top bar flex wrapping on `/thoughts`
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Sidebar post data appearing during nav to post route
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update list-item styles, misc. style fixes
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Style changes to sidebar, headings, empty-content, list-items
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/empty-content.svelte
  svelte-app/src/components/icons/chevron-double-right-small.svelte
  svelte-app/src/components/icons/chevron-right-small.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Reduce usage of `hoverable`, update toggle btn styles
  package.json
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/controls/lang-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/icons/chevron-double-right-small.svelte
  svelte-app/src/components/icons/chevron-right-small.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Add lint rule for $t() usage
  svelte-app/.eslintrc
  svelte-app/eslint-local-rules.cjs
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update design of timeline items
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(i18n): Add missing strings
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Tweak colours, improve visual order of tones
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/images/image-modal.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Add new pfp, tweak colours
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/controls/lang-toggle.svelte
  svelte-app/src/components/images/image-modal.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/static/assets/pfp/standard.png
  svelte-app/static/assets/pfp/sunglasses.png
  svelte-app/static/assets/tmp_avi.jpg
  svelte-app/static/assets/tmp_avi.png
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Tweak avi, fix toggle buttons
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/static/assets/avi/line_sunglases.png
  svelte-app/static/assets/avi/line_sunglasses_transparent.png
  svelte-app/static/assets/avi/standard.png
  svelte-app/static/assets/avi/standard_transparent.png
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

refac: Tooltips, sidebar toggles
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/nav/confetti-piece.svelte
  svelte-app/src/components/nav/confetti.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
  svelte-app/src/components/sidebar/sidebar-link.svelte
  svelte-app/src/components/sidebar/sidebar-tooltip.svelte
  svelte-app/src/components/sidebar/tooltips.ts
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/components/tooltips/manager.svelte
  svelte-app/src/components/tooltips/tooltip.svelte
  svelte-app/src/lib/tooltips.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Update tests
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/tests/routes/error.test.ts
  svelte-app/tests/routes/index.test.ts
  svelte-app/tsconfig.json
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: sanity-cms/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: svelte-app/**/*.{svelte,ts,js}
  deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts: any of: svelte-app/src/languages/*.json
