Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint, npx stylelint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "npx prettier --write",
    "npx eslint"
  ],
  "*.scss": "npx stylelint --fix"
}

Remove unneeded pkgs
  react-app/package-lock.json
  react-app/package.json
Due: none

Update husky pre-commit hook config
  package.json
Due: none

Start 'styles' dir
  .husky/pre-commit
  react-app/src/App.tsx
  react-app/src/styles/App.scss
Due: npx stylelint --fix

Various changes
  .stylelintrc.json
  react-app/src/App.tsx
  react-app/src/components/ErrorBounds/Component.tsx
  react-app/src/styles/base/_colors.scss
  react-app/src/styles/base/_fonts.scss
  react-app/src/styles/base/_reset.scss
  react-app/src/styles/helpers/_funcs.scss
  react-app/src/styles/helpers/_mixins.scss
  react-app/src/styles/helpers/_vars.scss
  react-app/src/styles/pages/_base.scss
  react-app/src/styles/styles.scss
Due: npx stylelint --fix

Update README.md
  README.md
Due: none

Update package.json
  sanity-cms/package.json
Due: none

Update package.json
  package.json
Due: none

Update package.json
  react-app/package.json
Due: none

Clean up more code
  .stylelintrc.json
  package-lock.json
  react-app/public/index.html
  react-app/src/App.tsx
  react-app/src/assets/images/logo-black.png
  react-app/src/assets/images/logo-white.png
  react-app/src/components/ErrorBounds/Component.scss
  react-app/src/components/ErrorBounds/Component.tsx
  react-app/src/components/ErrorBounds/FullPage.tsx
  react-app/src/components/ErrorBounds/index.ts
  react-app/src/components/PortableText/PortableTextComponents.tsx
  react-app/src/components/Sanity/CodeblockComponent.tsx
  react-app/src/components/Sections/PostSection/PostSection.scss
  react-app/src/components/Sections/PostSection/PostSection.tsx
  react-app/src/components/Sections/Posts/Posts.tsx
  react-app/src/components/Utils/Hover/Hover.scss
  react-app/src/components/Utils/Hover/Hover.tsx
  react-app/src/cursor.ts
  react-app/src/routes/Error.tsx
  react-app/src/routes/ErrorPage.tsx
  react-app/src/routes/index.ts
  react-app/src/styles/base/_fonts.scss
  react-app/src/styles/base/_reset.scss
  react-app/src/styles/components/_cursor.scss
  react-app/src/styles/components/_type.scss
  react-app/src/styles/pages/_base.scss
  react-app/src/styles/pages/_blog-post.scss
  react-app/src/styles/pages/_blog.scss
  react-app/src/styles/pages/_content.scss
  react-app/src/styles/pages/_error-page.scss
  react-app/src/styles/styles.scss
Due: npx prettier --write, npx eslint, npx stylelint --fix

Start projects page, blog page layouts
  react-app/src/components/Global/Header/Header.tsx
  react-app/src/components/Sections/Posts/Posts.tsx
  react-app/src/components/Sections/Projects/Projects.scss
  react-app/src/components/Sections/Projects/Projects.tsx
  react-app/src/styles/components/_cursor.scss
  react-app/src/styles/pages/_blog.scss
  react-app/src/styles/pages/_projects.scss
  react-app/src/styles/styles.scss
Due: npx stylelint --fix

Switch to svelte, start work on new app
  react-app/src/components/Sections/PostSection/PostSection.tsx
  react-app/src/index.tsx
  react-app/src/styles/base/_reset.scss
  react-app/src/styles/pages/_content.scss
  svelte-app/.eslintignore
  svelte-app/.eslintrc.cjs
  svelte-app/.gitignore
  svelte-app/.npmrc
  svelte-app/.prettierignore
  svelte-app/.prettierrc
  svelte-app/README.md
  svelte-app/package.json
  svelte-app/postcss.config.cjs
  svelte-app/src/app.d.ts
  svelte-app/src/app.html
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/blog/[slug].svelte
  svelte-app/src/routes/blog/[slug].ts
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/logo.svelte
  svelte-app/src/routes/works.svelte
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/works.ts
  svelte-app/static/favicon.png
  svelte-app/svelte.config.js
  svelte-app/tailwind.config.cjs
  svelte-app/tsconfig.json
  svelte-app/vite.config.js
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint, npx stylelint --fix

update stuff
  svelte-app/package.json
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/works.svelte
  svelte-app/src/stores/theme.ts
  svelte-app/svelte.config.js
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

Add logos, finish dark/light switch
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/works.svelte
  svelte-app/src/stores/theme.ts
  svelte-app/static/assets/logo-large.png
  svelte-app/static/assets/logo-text.png
  svelte-app/tailwind.config.cjs
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

Fix bg colours
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/static/assets/logo-text.png
  svelte-app/vite.config.js
Due: none

Add scss, body tags
  svelte-app/package.json
  svelte-app/src/components/menu-toggle.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/stores/menu.ts
  svelte-app/static/assets/logo-text--short.png
  svelte-app/svelte.config.js
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

Add code-block component
  svelte-app/src/components/blog/blog-post.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/works/list-item.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/pgp.svelte
  svelte-app/src/routes/work/[slug].svelte
  svelte-app/src/routes/work/[slug].ts
  svelte-app/src/stores/posts.ts
Due: npx prettier --write, npx eslint

Add loader anim, nav anims, new images
  .lintstagedrc.json
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/menu-toggle.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/pgp.svelte
  svelte-app/static/assets/logo-text--short.webp
  svelte-app/static/assets/logo-text.webp
  svelte-app/static/assets/spinner.png
  svelte-app/static/assets/spinner.webp
  svelte-app/tailwind.config.cjs
  svelte-app/yarn.lock
  yarn.lock
Due: none

start api methods
  .eslintrc
  express-api/client.ts
  express-api/index.ts
  express-api/lib/index.ts
  express-api/lib/query.ts
  express-api/package.json
  express-api/types.d.ts
  express-api/yarn.lock
  svelte-app/.eslintrc.cjs
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/tsconfig.json
Due: npx prettier --write, npx eslint

more changes :)
  svelte-app/package.json
  svelte-app/rollup.config.js
  svelte-app/src/lib/types.ts
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/api/auth/login.ts
  svelte-app/src/routes/api/pgp.ts
  svelte-app/src/routes/blog/[slug].svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/pgp.svelte
  svelte-app/src/routes/works.svelte
  svelte-app/src/stores/about.ts
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/theme.ts
  svelte-app/tsconfig.json
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

hoooly fuck finally working
  express-api/index.ts
  express-api/lib/fetch.ts
  express-api/lib/query.ts
  svelte-app/rollup.config.js
  svelte-app/src/lib/types.ts
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/api/posts.ts
  svelte-app/src/routes/index.svelte
  svelte-app/src/stores/posts.ts
Due: npx prettier --write, npx eslint

Remove extra console logs
  express-api/index.ts
  svelte-app/src/routes/index.svelte
Due: npx prettier --write, npx eslint

More fixes
  express-api/lib/query.ts
  svelte-app/package.json
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/api/getPost.ts
  svelte-app/src/routes/api/getPosts.ts
  svelte-app/src/routes/blog/[slug].svelte
  svelte-app/src/routes/blog/[slug].ts
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/work.ts
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

Upgrade sanity, install vision plugin
  sanity-cms/package.json
  sanity-cms/sanity.json
  sanity-cms/yarn.lock
Due: none

Update configs, commit hooks, linting, add makefile
  .eslintrc
  .lintstagedrc.json
  .prettierignore
  Makefile
  package.json
  scripts/install.sh
  scripts/run-dev.sh
  scripts/run-prod.sh
  svelte-app/.eslintignore
  svelte-app/.eslintrc.cjs
  svelte-app/.prettierignore
  svelte-app/.prettierrc
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/src/routes/blog/[slug].svelte
  svelte-app/tailwind.config.cjs
  svelte-app/tsconfig.json
  yarn.lock
Due: none

Update configs, makefile, vite plugins, scripts
  .gitignore
  .lintstagedrc.json
  Makefile
  README.md
  package.json
  sanity-cms/.eslintrc
  sanity-cms/package.json
  sanity-cms/yarn.lock
  scripts/install.sh
  scripts/run-backed.sh
  scripts/run-dev.sh
  svelte-app/package.json
  svelte-app/src/components/loader.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/blockquote.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/blog/[slug].svelte
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/blog/__layout-blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/store.ts
  svelte-app/vite.config.js
  svelte-app/yarn-error.log
  svelte-app/yarn.lock
  yarn.lock
Due: npx prettier --write, npx eslint

Remove package-lock.json
  package-lock.json
Due: none

Create makefile.yml
  .github/workflows/makefile.yml
Due: none

Rename script, fix workflow
  .github/workflows/makefile.yml
  scripts/build-prod.sh
  scripts/check.sh
Due: none

Update readme
  .github/workflows/makefile.yml
  README.md
Due: none

oops
  .gitignore
  svelte-app/coverage/.svelte-kit/runtime/app/env.js.html
  svelte-app/coverage/.svelte-kit/runtime/app/index.html
  svelte-app/coverage/.svelte-kit/runtime/env.js.html
  svelte-app/coverage/.svelte-kit/runtime/index.html
  svelte-app/coverage/base.css
  svelte-app/coverage/block-navigation.js
  svelte-app/coverage/favicon.png
  svelte-app/coverage/index.html
  svelte-app/coverage/prettify.css
  svelte-app/coverage/prettify.js
  svelte-app/coverage/sort-arrow-sprite.png
  svelte-app/coverage/sorter.js
  svelte-app/coverage/src/components/index.html
  svelte-app/coverage/src/components/nav.svelte.html
  svelte-app/coverage/src/components/toggles/index.html
  svelte-app/coverage/src/components/toggles/menu-toggle.svelte.html
  svelte-app/coverage/src/components/toggles/theme-toggle.svelte.html
  svelte-app/coverage/src/stores/index.html
  svelte-app/coverage/src/stores/menu.ts.html
  svelte-app/coverage/src/stores/theme.ts.html
  svelte-app/coverage/tmp/coverage-754932-1658901468042-1.json
  svelte-app/coverage/tmp/coverage-754932-1658901468068-1.json
  svelte-app/coverage/tmp/coverage-754932-1658901469185-11.json
  svelte-app/coverage/tmp/coverage-754932-1658901469225-12.json
  svelte-app/coverage/tmp/coverage-754932-1658901469263-8.json
  svelte-app/coverage/tmp/coverage-754932-1658901469301-7.json
  svelte-app/coverage/tmp/coverage-754932-1658901469340-9.json
  svelte-app/coverage/tmp/coverage-754932-1658901469378-6.json
  svelte-app/coverage/tmp/coverage-754932-1658901469416-5.json
  svelte-app/coverage/tmp/coverage-754932-1658901469456-10.json
  svelte-app/coverage/tmp/coverage-754932-1658901469492-4.json
  svelte-app/coverage/tmp/coverage-754932-1658901469544-3.json
  svelte-app/coverage/tmp/coverage-754932-1658901469582-2.json
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Add cypress tests, ci, test-selectors package
  .github/workflows/cypress.yml
  .github/workflows/vitest.yml
  .gitignore
  Makefile
  package.json
  sanity-cms/package.json
  sanity-cms/yarn.lock
  scripts/check.sh
  scripts/cypress.sh
  scripts/install.sh
  scripts/run-backed.sh
  scripts/vitest.sh
  svelte-app/cypress.config.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/support/commands.ts
  svelte-app/cypress/support/e2e.ts
  svelte-app/cypress/support/index.ts
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/loader.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/api/pgp.ts
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/pgp.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/server.ts
  svelte-app/src/stores/posts.ts
  svelte-app/test/components/loader.test.ts
  svelte-app/tsconfig.json
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint

Add missing test file
  scripts/build-test.sh
Due: none

Update tests, fix cypress fails (?)
  .github/workflows/cypress.yml
  .github/workflows/test.yml
  .github/workflows/vitest.yml
  .husky/pre-commit
  package.json
  scripts/cypress.sh
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/package.json
  svelte-app/yarn.lock
Due: npx prettier --write, npx eslint
