Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Use Sanity for pfp, update schema
  elixir-api/lib/routes/cdn.ex
  sanity-cms/schemas/settings.ts
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/profile-image.svelte
  svelte-app/src/lib/sanity.ts
  svelte-app/static/assets/avi/line_sunglases.png
  svelte-app/static/assets/avi/line_sunglasses_transparent.png
  svelte-app/static/assets/avi/standard.png
  svelte-app/static/assets/avi/standard_transparent.png
  svelte-app/static/assets/pfp/standard.png
  svelte-app/static/assets/pfp/sunglasses.png
  svelte-app/types/app/config/index.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Translations, proj route design details
  elixir-api/lib/utils/translate.ex
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Sidebar link styles, timeline item styles
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/sidebar/sidebar-link.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Bump PNPM vers for workflows
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  package.json
Due: none

fix: Guard against falsy config on load
  svelte-app/src/components/sidebar.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Mix tests
  elixir-api/test/api/post_posts_test.exs
  elixir-api/test/support/fixtures.exs
  elixir-api/test/translate_test.exs
Due: none

chore: fix scrollbar styling :)
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/styles/_tw.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: First pass removing Elixir API, moving to SK endpoints
  .github/workflows/api.yml
  package.json
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/env.server.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/lib/sanity.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/mutate/+server.ts
  svelte-app/types/app/api/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Third pass removing elixir api, mostly working, just need to migrate translate code
  Makefile
  svelte-app/src/hooks.server.ts
  svelte-app/src/lib/api/client.ts
  svelte-app/src/lib/api/result.ts
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/lib/sanity.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/[file=txt]/+server.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/src/routes/api/get/config/+server.ts
  svelte-app/src/routes/api/get/post/+server.ts
  svelte-app/src/routes/api/get/posts/+server.ts
  svelte-app/src/routes/api/get/project/+server.ts
  svelte-app/src/routes/api/get/projects/+server.ts
  svelte-app/src/routes/api/mutate/+server.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Fourth pass, remove 'project' type, tidy up a bit
  sanity-cms/sanity.config.ts
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/hooks.server.ts
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/data.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/work/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/get/project/+server.ts
  svelte-app/src/routes/api/get/projects/+server.ts
  svelte-app/types/app/documents/index.ts
  svelte-app/types/generated/index.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Bump PNPM ver in workflows
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
Due: none

fix: Old meta headers
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Don't run playwright for now
  .github/workflows/test.yml
Due: none

fix: Update env secrets
  .github/workflows/netlify-deploy.yml
Due: none

fix: Single typo, code ruined
  svelte-app/src/lib/api/store.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: CodeBlock, scss helper, wrong qp
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/code-block/imports.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/styles/_helpers.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Update tailwind, tw config, remove postcss
  svelte-app/oldeslintbackup
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/postcss.config.cjs.old
  svelte-app/postcss.config.mjs
  svelte-app/src/app.scss
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/tailwind.css
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Add boundaries, fix eslint (again), fix styles
  svelte-app/eslint.config.mjs
  svelte-app/src/app.scss
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/error-boundary.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/layouts/base-container.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/lib/snippets.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/styles/components/code-block.scss
  svelte-app/src/styles/tw.scss
  svelte-app/svelte.config.js
  svelte-app/tsconfig.json
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Lint errs, improper groq query str sub
  sanity-cms/schema.json
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/code-block.svelte
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/api/get/posts/+server.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

temp: Use Zod for data validation/shapes, tidy shit up a bit
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/lib/api/cache.ts
  svelte-app/src/lib/api/client.ts
  svelte-app/src/lib/api/result.ts
  svelte-app/src/lib/api/schemas.ts
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/api/types.ts
  svelte-app/src/lib/api/utils.server.ts
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/data.ts
  svelte-app/src/lib/date.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/routes/api/get/config/+server.ts
  svelte-app/src/routes/api/get/post/+server.ts
  svelte-app/src/routes/api/get/posts/+server.ts
  svelte-app/src/routes/api/mutate/+server.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Broken component in ssr, update types
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/sidebar/sidebar-link.svelte
  svelte-app/src/lib/date.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/types/generated/sanity.types.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme, fixup date fn
  Makefile
  README.md
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/lib/date.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update workflows
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
Due: none

fix: Eslint rules, tsconfig include paths
  svelte-app/eslint.config.mjs
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-link.svelte
  svelte-app/src/lib/date.ts
  svelte-app/src/lib/sanity.ts
  svelte-app/src/lib/settings.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/.well-known/[path]/+server.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Broken sidebar comp, bad logic for loading post
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme
  README.md
Due: none

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: sanity-cms/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: svelte-app/**/*.{svelte,ts,js}
  deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts: any of: svelte-app/src/languages/*.json
