Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

.lintstagedrc.json:

{
  "sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ],
  "svelte-app/src/languages/*.json": [
    "deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts"
  ]
}

fix: modal styling
  svelte-app/src/components/dialog.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: More misc fixed, schema cleanup
  elixir-api/lib/routes/api/v1/about.ex
  elixir-api/lib/routes/api/v1/project.ex
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/settings.ts
  svelte-app/src/app.scss
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/types/app/documents/author.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Style cleanup
  svelte-app/src/app.scss
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up routes, add back btn to posts
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/hooks.server.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page@.svelte
  svelte-app/src/stores/settings.ts
  svelte-app/src/styles/_colors.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Query draft docs w/ param, improve server error handling
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/utils.ex
  svelte-app/src/lib/data.server.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Styles/some PT serializer cleanup
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/stores/settings.ts
  svelte-app/src/styles/components/_code-block.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Codeblock, nav styles
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/lib/store.ts
  svelte-app/src/styles/components/_code-block.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: More misc cleanup
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/helpers/scrollTo.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Adjust heading margin if first pt element
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update deps, cleanup error handling
  svelte-app/package.json
  svelte-app/patches/@portabletext__svelte@2.1.1.patch
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/dialog.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/hooks.server.ts
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/try-fetch.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/about/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[plus=plus]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[plus=plus]/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/test/lib/i18n.test.ts
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Roll back broken deps
  sanity-cms/pnpm-lock.yaml
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Lang toggle
  svelte-app/src/components/controls/language-toggle.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Improve meta tags
  svelte-app/src/components/document/route.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up some dupe api code
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
Due: none

fix: Translate module
  elixir-api/lib/app/application.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/cdn_cache.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/translate_cache.ex
Due: none

fix: Update consts, nav-link component - Remove unused consts - Fix nav-link not showing active state when i18n lang param present
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc responsive bugs
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Use consts for meta page titles
  svelte-app/src/components/document/route.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up navigation helper, lol
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Tiny divider fix
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Misc cleanup
  svelte-app/cypress/support/component-index.html
  svelte-app/cypress/support/component.ts
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Clean up Load error handling
  svelte-app/src/app.d.ts
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/lib/data.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/lib/try-fetch.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Server hooks regex
  svelte-app/src/hooks.server.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Fixup meta tags
  svelte-app/src/app.html
  svelte-app/src/components/document/route.svelte
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/static/android-chrome-192x192.png
  svelte-app/static/android-chrome-512x512.png
  svelte-app/static/apple-touch-icon.png
  svelte-app/static/assets/dark-embed.png
  svelte-app/static/assets/dark-icon.png
  svelte-app/static/assets/favicon.png
  svelte-app/static/assets/light-embed.png
  svelte-app/static/assets/light-icon.png
  svelte-app/static/assets/spinner.png
  svelte-app/static/assets/spinner.webp
  svelte-app/static/favicon-16x16.png
  svelte-app/static/favicon-32x32.png
  svelte-app/static/favicon.ico
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Improve chunking, vite preproccessing
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/app.html
  svelte-app/src/app.scss
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/animations/spinner.svelte
  svelte-app/src/components/loading/bar.svelte
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/lib/icons.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/svelte.config.js
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Prevent loader svg FOUC
  svelte-app/src/app.html
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/lib/icons.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up dynamic code imports, types
  svelte-app/.eslintrc
  svelte-app/.prettierrc.json
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/code-block/imports.ts
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/lib/icons.ts
  svelte-app/tsconfig.json
  svelte-app/types/app/index.d.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Rework SCSS usage, add initial mixins/vars/path aliases
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/app.html
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/layouts/content-wrapper.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/styles/_aliases.scss
  svelte-app/src/styles/_breakpoints.scss
  svelte-app/src/styles/_fonts.scss
  svelte-app/src/styles/_mixins.scss
  svelte-app/src/styles/_utils.scss
  svelte-app/src/styles/_variables.scss
  svelte-app/svelte.config.js
  svelte-app/tsconfig.json
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: sidebar positioning, contrast
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/sidebar.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/lib/store.ts
  svelte-app/src/lib/summary.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Show active heading in sidebar
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/lib/summary.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc responsive stuff
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/lib/summary.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Bump svelte-app deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

chore: Fix mobile responsive, update colours
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/sidebar.svelte
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/summary.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc styles
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use `get_table_name()` when purging ETS caches
  elixir-api/lib/utils/cache.ex
Due: none

feat: Update styles
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/bullet-point.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/menu-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/sidebar.svelte
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/layouts/content-wrapper.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/icons.ts
  svelte-app/src/lib/summary.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Add missing translations
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Timeline text colours
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix
