Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "**/sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "**/express-api/**/*.{ts,js}": [
    "./express-api/node_modules/.bin/prettier --write",
    "./express-api/node_modules/.bin/eslint --fix"
  ],
  "**/svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ]
}

feat: Add ExSync for livereload in dev
  elixir-api/bin/release
  elixir-api/config/config.exs
  elixir-api/lib/routes/api/v1.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
Due: none

fix: Add :fs as extra app to api, fix index layout for app
  elixir-api/mix.exs
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up a bunch of stuff
  elixir-api/lib/utils/sanity/build_query.ex
  sanity-cms/schemas/author.ts
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/package.json
  svelte-app/scripts/sort-json.ts
  svelte-app/src/components/about/card.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/link-non-pt.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/assets/logo-text.png
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/now/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/now/+page.ts
  svelte-app/types/app/documents/author.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Try fixing build env context
  .github/workflows/netlify-deploy.yml
  svelte-app/src/routes/[[lang=lang]]/auth/login/oauth_callback/[[provider=oauthprovider]]/handle/+page.server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Clean up a few things
  .github/workflows/netlify-deploy.yml
  svelte-app/src/components/document/comments/comment-input.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/env.server.ts
  svelte-app/src/routes/[[lang=lang]]/auth/login/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/auth/login/+page.server.ts
  svelte-app/src/routes/[[lang=lang]]/auth/login/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/auth/login/heading.svelte
  svelte-app/src/routes/[[lang=lang]]/auth/login/oauth_callback/[[provider=oauthprovider]]/handle/+page.server.ts
  svelte-app/src/routes/[[lang=lang]]/auth/login/oauth_callback/[[provider=oauthprovider]]/handle/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: update readme
  README.md
Due: none

fix: tailwindcss/scss issues? i think?
  svelte-app/.eslintrc.cjs
  svelte-app/package.json
  svelte-app/postcss.config.cjs
  svelte-app/src/app.scss
  svelte-app/src/components/document/comments/comment-input.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/auth/login/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/auth/login/heading.svelte
  svelte-app/svelte.config.js
  svelte-app/tailwind.config.cjs
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(deps): Bump @sveltejs/kit to v1.3.5
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

chore: Replace moment with Luxon, clean up date helpers
  elixir-api/mix.exs
  svelte-app/package.json
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/helpers/date.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Use `svelte-maybe-transition`, add ETS cache for elixir CDN
  elixir-api/lib/app/application.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/algolia_client.ex
  elixir-api/lib/utils/cdn_cache.ex
  elixir-api/lib/utils/query_cache.ex
  elixir-api/lib/utils/sanity/query.ex
  elixir-api/mix.exs
  svelte-app/package.json
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/tags.svelte
  svelte-app/src/lib/helpers/animate.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: code bg colour
  svelte-app/src/components/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use local `fetch` for static file endpoints, add handleError hook
  svelte-app/src/hooks.server.ts
  svelte-app/src/routes/[[lang=lang]]/[file=txt]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Hide scrollbar on nav element
  svelte-app/src/components/nav/nav.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add nowpage, translation-checker script
  elixir-api/lib/utils/sanity/build_query.ex
  svelte-app/scripts/check-translations.ts
  svelte-app/src/components/about/card.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/[[lang=lang]]/now/+page.svelte
  svelte-app/types/app/documents/author.d.ts
  svelte-app/types/app/sanity/index.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(deps): bump sveltekit to 1.6.0
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

fix: Parse emoji for every ptBlock, not within doc wrapper
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/wrapper.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/helpers/emoji.ts
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add tests for API to CI
  .github/workflows/api.yml
  .github/workflows/test.yml
  elixir-api/Makefile
  elixir-api/config/config.exs
  elixir-api/config/dev.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/cdn_cache.ex
  elixir-api/lib/utils/sanity/client.ex
  elixir-api/test/hexerei_test.exs
Due: none

fix: Clean up summary component
  elixir-api/lib/app/application.ex
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Optimise dockerfile? Or at least try
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
  elixir-api/config/dev.env.exs
  elixir-api/lib/utils/sanity/client.ex
Due: none

feat: Add preliminary RSS endpoint at '/rss'
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/rss/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: RSS headers
  svelte-app/src/routes/rss/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Properly encode URIs, add RSS button
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/controls/rss-button.svelte
  svelte-app/src/components/controls/sounds-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/nav/nav-social.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/routes/rss/+server.ts
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add contact field for author schema
  sanity-cms/schemas/author.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Page controls positions
  svelte-app/src/components/controls/page-controls.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Format JSON lang files
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: none

feat: New link indicator, cleanup some stuff
  svelte-app/src/components/nav/nav-links.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/nav/new-nav-link.svelte
  svelte-app/src/components/nav/slider-indicator.svelte
  svelte-app/src/routes/[[lang=lang]]/_old-index.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Alignment of music widget :p
  svelte-app/src/components/nav/now-playing-widget.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Animation for nav indicator
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/new-link-indicator.svelte
  svelte-app/src/components/nav/new-nav-link.svelte
  svelte-app/src/components/nav/slider-indicator.svelte
  svelte-app/src/routes/[[lang=lang]]/more/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up some TW classes
  sanity-cms/schemas/author.ts
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/headings/icon-header.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav/nav-links.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/more/+page.svelte
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update colour themes, nav links
  elixir-api/lib/utils/sanity/build_query.ex
  svelte-app/src/app.scss
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/menu-toggle.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/controls/sounds-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/link-non-pt.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav-links.svelte
  svelte-app/src/components/nav/nav-social.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/nav/new-nav-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/types/app/documents/author.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Bug w/ link indicator
  svelte-app/src/components/nav/slider-indicator.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(deps): Bump @sveltejs/kit to 1.8.3
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

chore: Update readme.md
  README.md
Due: none

chore: Remove some unused deps
  package.json
  yarn.lock
Due: none

feat: Add custom-heading PT object + Svelte serializer
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/objects/header.ts
  sanity-cms/schemas/schema.ts
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/portable-text/serializers/custom-header.svelte
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add new query module, use for Tags endpoint
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/sanity/query.ex
Due: none

feat: Use new Query module for tag queries
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/sanity/build_query.ex
  elixir-api/lib/utils/sanity/query.ex
Due: none
