Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: List item view count
  svelte-app/src/components/lists/list-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Simplify icon component props
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/icon.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Init new alternate design
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/layouts/constrain-width.svelte
  svelte-app/src/components/layouts/page-content.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/lib/icons/index.ts
  svelte-app/src/lib/icons/label.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/styles/_tw.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add new fonts
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/styles/_fonts.scss
  svelte-app/src/styles/components/_code-block.scss
  svelte-app/static/assets/fonts/commit_mono/CommitMono-Bold.woff2
  svelte-app/static/assets/fonts/commit_mono/CommitMono-BoldItalic.woff2
  svelte-app/static/assets/fonts/commit_mono/CommitMono-Italic.woff2
  svelte-app/static/assets/fonts/commit_mono/CommitMono-Regular.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Bold.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Medium.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDeck-Regular.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDeck-SemiBold.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Black.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Bold.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Medium.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-Regular.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterDisplay-SemiBold.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterText-Bold.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterText-Medium.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterText-Regular.woff2
  svelte-app/static/assets/fonts/tasa_orbiter/TASAOrbiterText-SemiBold.woff2
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc. cleanup for design rework
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: PT element spacing, some font issues
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Spacing issues
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up page-transition logic
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/lib/utils.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up timeline styles
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Change base colours, fontsizes, clean up article spacing
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: More font-size/lh fixes, spacing, colour tweaks
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/lib/settings.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Cleanup leftover comments
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/experiments/toru.ts
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/styles/_fonts.scss
  svelte-app/src/styles/components/_code-block.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Fix header/code-block styles, add missing translation key
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Heading spacing / header styles
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: PT margins/lh styling
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/list-item.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/styles/_tw.scss
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Add more Svelte ESlint rules
  .lintstagedrc.json
  svelte-app/.eslintrc
Due: none

chore: More Svelte ESlint rules
  svelte-app/.eslintrc
Due: none

chore: Apply more Svelte ESlint rules
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/mag-cursor/cursor.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Don't destructure `$page.error` store for `+error` page
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Bump svelte/sanity deps, update node ver in nvmrc/workflows
  .github/workflows/api.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  .nvmrc
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Ensure playwright browsers are installed in CI
  .github/workflows/test.yml
Due: none

chore: Fix line-height of headings
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/lib/settings.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Some tooltip fixes
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/components/tooltips/tooltip.svelte
  svelte-app/src/lib/tooltips.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Mobile scrollcontainer height
  svelte-app/src/components/layouts/scroll-container.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Fix `tag` endpoints, restore `+/:tag` routes to SK
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Rework site colours
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/empty-content.svelte
  svelte-app/src/components/experiments/gol.svelte
  svelte-app/src/components/experiments/mag-cursor.svelte
  svelte-app/src/components/experiments/toru.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/components/nav/header-logo.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/settings.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/src/styles/_tw.scss
  svelte-app/src/styles/components/_code-block.scss
  svelte-app/tailwind.config.cjs
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Tweak header/footer styles
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc button/link/transition tweaks
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/+layout.svelte
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Tidy posts route, tags display
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Use dashed borders for work/post/topic dividers
  svelte-app/.eslintrc
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/lists/document-list.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Finish topics route, clean up posts route
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/types/generated/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Disable `unused-imports` eslint rule
  svelte-app/.eslintrc
Due: none

fix: Only fetch tags once in +layout.ts, pass down via `_parent` to slug route
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Perf fixes for Hoverable, visual fixes for list-items
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Limit recent tags displayed to 6
  svelte-app/src/routes/[[lang=lang]]/thoughts/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use Set for collecting tags, not list, oops
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+layout.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Logic for sorting tags/postsByTag lol
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/thoughts/+/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Remove leftover guard
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Lang toggle onClick behaviour
  svelte-app/src/components/controls/language-toggle.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: sanity-cms/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: svelte-app/**/*.{svelte,ts,js}
  deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts: any of: svelte-app/src/languages/*.json
