Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

.lintstagedrc.json:

{
  "sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ],
  "svelte-app/src/languages/*.json": [
    "deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts"
  ]
}

fix: Sanity lint task
  Makefile
  sanity-cms/package.json
  sanity-cms/scripts/deleteUnusedAssets.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

feat: Add translations for post/project body blocks
  elixir-api/lib/plugs/verify_request.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/translate.ex
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/project/[[many]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Split API routes to seperate modules, delay invalidations
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/base.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/api/v1/about.ex
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
  svelte-app/src/components/nav.svelte
  svelte-app/src/lib/helpers/toru.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: clean up api funcs, modules, logging
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/cache.ex
  elixir-api/lib/utils/cdn_cache.ex
  elixir-api/lib/utils/query_cache.ex
  elixir-api/lib/utils/translate.ex
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/env.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Revert API net / IP changes
  elixir-api/lib/app/application.ex
Due: none

fix: Match for array/not array when translating PT text blocks
  elixir-api/lib/utils/translate.ex
Due: none

chore: Update deps, use Promise.race for try-fetch
  svelte-app/pnpm-lock.yaml
  svelte-app/src/lib/try-fetch.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Make nav links full-width
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Update sanity pnpm lockfile
  sanity-cms/pnpm-lock.yaml
Due: none

chore: Remove unused devtools dep/code
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Skip translating non-text PT blocks, don't add 'children' member when not initially present
  elixir-api/lib/utils/translate.ex
  pnpm-lock.yaml
  svelte-app/pnpm-lock.yaml
Due: none

feat: Add 'notranslate' markdef, skip while iterating PT blocks
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  elixir-api/lib/utils/translate.ex
  sanity-cms/.npmrc
  sanity-cms/pnpm-lock.yaml
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/renderers/highlight.tsx
  sanity-cms/schemas/renderers/notranslate.tsx
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Remove store.ts tests
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/test/store.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Dynamic tooltips for toggle buttons
  svelte-app/src/components/controls/sounds-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Switch ToruSync to use WS endpoint
  svelte-app/src/components/nav.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/helpers/toru.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Show filename for codeblocks
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use WSS, oooops :)
  svelte-app/src/lib/env.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up logger.ts
  svelte-app/src/lib/logger.ts
  svelte-app/test/lib/logger.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Refactor old features/theme store code
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/sounds-toggle.svelte
  svelte-app/src/components/controls/switch-item.svelte
  svelte-app/src/components/controls/switch.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/sfx/index.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/settings.ts
  svelte-app/src/stores/theme.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up unused code, split some styles out
  svelte-app/src/app.scss
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/blockquote.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/styles/_aliases.scss
  svelte-app/src/styles/_animations.scss
  svelte-app/src/styles/components/_code-block.scss
  svelte-app/src/styles/components/_nav.scss
  svelte-app/test/fixtures/pt.ts
  svelte-app/test/lib/helpers/pt.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update Elixir formatting, CI workflow
  .github/workflows/api.yml
  elixir-api/lib/app/application.ex
  elixir-api/lib/app/env.ex
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api.ex
  elixir-api/lib/routes/api/base.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/api/v1/about.ex
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/sanity/client.ex
  elixir-api/lib/sanity/query.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/cache.ex
  elixir-api/lib/utils/cdn_cache.ex
  elixir-api/lib/utils/jwt.ex
  elixir-api/lib/utils/query_cache.ex
  elixir-api/lib/utils/res.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/mix.exs
  elixir-api/test/api_test.exs
  elixir-api/test/hexerei_test.exs
Due: none

chore: Combine sveltekit endpoints, update tailwindcss
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/about/+server.ts
  svelte-app/src/routes/api/[[version]]/get/config/+server.ts
  svelte-app/src/routes/api/[[version]]/get/post/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/project/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/get/tag/[[many]]/+server.ts
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use PNPM v8 for CI
  .github/workflows/netlify-deploy.yml
  .github/workflows/test.yml
Due: none

feat: Update API build/deploy for GCP Cloud Run
  .github/workflows/api.yml
  elixir-api/Makefile
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
Due: none

fix: Adjust Docker image tags to fix overlap
  .github/workflows/api.yml
Due: none

feat: Add Redix/memcache support
  elixir-api/Makefile
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/redis/redis.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/ets_cache.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
  svelte-app/src/lib/env.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Set main api url to prod1.kio.sh
  svelte-app/src/lib/env.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Misc visual nav bugs
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update workflows, re-enable Cypress
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
  pnpm-lock.yaml
  sanity-cms/pnpm-lock.yaml
  scripts/cypress.sh
  scripts/server.sh
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/fixtures/index.ts
  svelte-app/cypress/types.d.ts
  svelte-app/src/components/lists/blog-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up elixir app tests, add mocks
  .lintstagedrc.json
  elixir-api/Makefile
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/app/default_http_client.ex
  elixir-api/lib/app/http_client.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/sanity/client.ex
  elixir-api/lib/utils/env.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
  elixir-api/test/api_test.exs
  elixir-api/test/fixtures.exs
  elixir-api/test/hexerei_test.exs
  elixir-api/test/query_test.exs
Due: none

fix: Try fixing Cy workflow
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
  elixir-api/Makefile
Due: none

fix: Add missing function clause to verify_req plug
  .github/workflows/svelte.yml
  elixir-api/lib/plugs/verify_request.ex
Due: none

fix: Fix exp backoff for reloading site config
  .github/workflows/svelte.yml
  svelte-app/src/lib/try-fetch.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps): bump google-github-actions/setup-gcloud from 0.2.1 to 1.1.1"
  .github/workflows/api.yml
Due: none

chore: Update readme
  README.md
Due: none

Revert "chore(deps): bump docker/build-push-action from 2 to 4"
  .github/workflows/api.yml
Due: none

chore: Cleanup, fix some font stuff
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/menu-toggle.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/controls/sounds-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/document/content/post/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/styles/_fonts.scss
  svelte-app/static/assets/fonts/hauora-sans/Hauora-variable.ttf
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove some more unused code
  sanity-cms/schemas/objects/replit-embed.ts
  sanity-cms/schemas/objects/svelte-embed.ts
  sanity-cms/schemas/schema.ts
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/fiona-placeholder.svelte
  svelte-app/src/components/portable-text/embeds/replit-embed.svelte
  svelte-app/src/components/portable-text/embeds/svelte-embed.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/embeds/svelte-worker.ts
  svelte-app/src/lib/helpers/browser.ts
  svelte-app/src/lib/helpers/placeholders.ts
  svelte-app/src/routes/api/[[version]]/transform/svelte/+server.ts
  svelte-app/test/lib/helpers/placeholders.test.ts
  svelte-app/vite.config.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix
