Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

.lintstagedrc.json:

{
  "sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ],
  "svelte-app/src/languages/*.json": [
    "deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts"
  ]
}

chore: Cleanup header/footer
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/components/nav/header-link.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/lib/helpers/i18n.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove old `/about` endpoint / Sanity schema
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/api/v1/about.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  sanity-cms/sanity.config.ts
  sanity-cms/schemas/artwork.ts
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/base-document.ts
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/post.ts
  sanity-cms/schemas/project.ts
  sanity-cms/schemas/schema.ts
  sanity-cms/schemas/settings.ts
  sanity-cms/structure.ts
  sanity-cms/tsconfig.json
  svelte-app/types/app/documents/post.ts
  svelte-app/types/app/documents/project.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Update API tests / fixtures
  elixir-api/test/api_test.exs
  elixir-api/test/support/fixtures.exs
  elixir-api/test/translate_test.exs
Due: none

chore: Bump deps, Node, Erlang, OTP versions
  .github/workflows/api.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  .nvmrc
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  svelte-app/.nvmrc
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Cleanup unused files
  .nvmrc
  .ruby_version
  .yarnrc.yml
  sanity-cms/.nvmrc
Due: none

why was that even an issue
  sanity-cms/.eslintrc
  sanity-cms/.nvmrc
  svelte-app/.eslintrc
  svelte-app/.nvmrc
Due: none

feat: Update deps, frontend error handling
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update API error handling
  README.md
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/pt.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/test/api_test.exs
Due: none

fix: API tests, default error response
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/routes/api/v1/inc.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  elixir-api/lib/routes/cdn.ex
  elixir-api/lib/utils/res.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/test/api_test.exs
  elixir-api/test/pt_test.exs
  elixir-api/test/translate_test.exs
Due: none

fix: Further API cleanup, better error handling in ui
  elixir-api/lib/app/router.ex
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/api/v1/tag.ex
  elixir-api/lib/routes/api/v1/tags.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/lib/utils/pt.ex
  elixir-api/lib/utils/res.ex
  elixir-api/lib/utils/translate.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/test/api_test.exs
  svelte-app/src/app.d.ts
  svelte-app/src/lib/data.ts
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Minor aesthetic fixes
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/nav/base-link.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Fix design on work page
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/date.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: date math lol
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/lib/date.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: More api tests :)
  elixir-api/test/cache_test.exs
  elixir-api/test/res_test.exs
Due: none

chore: Bump Elixir Docker img
  elixir-api/Dockerfile
Due: none

chore: Bump GCloud Actions
  .github/workflows/api.yml
Due: none

fix: Try using deploy-cloudrun instead of manual gcloud cli
  .github/workflows/api.yml
Due: none

chore: Bump Netlify cli to v16.2.0
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Update deploy path in actions config
  .github/workflows/netlify-deploy.yml
Due: none

fix: Try downgrade to 16.0.0
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Try using latest cli ver
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Update netlify workflow paths
  .github/workflows/netlify-deploy.yml
Due: none

feat: Enable Edge SSR
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "Enable Edge SSR"
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Replace Cypress with Playwright for Integration/e2e tests
  .github/workflows/test.yml
  Makefile
  svelte-app/cypress.config.ts
  svelte-app/cypress/e2e/features/theme.cy.ts
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/cypress/e2e/helpers/colors.ts
  svelte-app/cypress/e2e/helpers/features.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/fixtures/index.ts
  svelte-app/cypress/support/commands.ts
  svelte-app/cypress/support/e2e.ts
  svelte-app/cypress/support/index.ts
  svelte-app/cypress/tsconfig.json
  svelte-app/cypress/types.d.ts
  svelte-app/package.json
  svelte-app/playwright.config.ts
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/tests/fixtures.ts
  svelte-app/tests/routes/index.test.ts
  svelte-app/tests/routes/post.test.ts
  svelte-app/tests/routes/work.test.ts
  svelte-app/tests/utils.ts
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update svelte-app lockfile
  svelte-app/pnpm-lock.yaml
Due: none

chore: Add $tests to SK aliases
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Move Vitest dir to `tests/unit`
  svelte-app/playwright.config.ts
  svelte-app/tests/unit/i18n.test.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Install playwright in CI with cache
  .github/workflows/test.yml
  svelte-app/playwright.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Enable dependabot auto-approve/merge
  .github/workflows/dependabot-auto-approve.yml
Due: none

fix: Missing translation strs
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Remove sveltekit-svg pkg
  svelte-app/.eslintrc
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update all deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Incorrect icon lol
  svelte-app/src/lib/icons/check.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Fix issues with playwright tests
  svelte-app/.eslintrc
  svelte-app/src/routes/+layout.ts
  svelte-app/tests/routes/index.test.ts
  svelte-app/tests/routes/post.test.ts
  svelte-app/tests/routes/work.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(ci): Only install needed deps for lint check task
  .github/workflows/svelte.yml
Due: none

fix: Clean up design for timeline items
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/lists/year-list.svelte
  svelte-app/src/lib/icons/corner-down-right.svelte
  svelte-app/src/lib/icons/corner-up-right.svelte
  svelte-app/src/lib/icons/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Add basic tests for posts/projects endpoints
  elixir-api/test/api/post_posts_test.exs
  elixir-api/test/api/project_projects_test.exs
  elixir-api/test/api_test.exs
  elixir-api/test/support/fixtures.exs
Due: none
