Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Edit some colours, translations
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Rework project structure
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/routes/cdn.ex
  sanity-cms/schemas/project.ts
  sanity-cms/structure.ts
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/post/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/image-carousel/scroll-button.svelte
  svelte-app/src/lib/icons.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Remove hardcoded projects query from index
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/[[lang=lang]]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Constrain image carousel width when length < 2
  svelte-app/src/components/portable-text/image-carousel.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Some style issues
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Oops broken template string
  svelte-app/src/components/portable-text/image-carousel.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Stream images to client instead of prop drilling routeFetch
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/types/app/documents/index.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add document view counts
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/sanity/client.ex
  elixir-api/lib/sanity/utils.ex
  elixir-api/test/api_test.exs
  elixir-api/test/fixtures.exs
  sanity-cms/schemas/base-document.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

feat: Add view counts to UI
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/store.ts
  svelte-app/types/app/documents/index.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

feat: Add site footer :)
  .github/workflows/netlify-deploy.yml
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/icons.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Rework post/proj list styles
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  sanity-cms/schemas/project.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/views.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/types/app/documents/project.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

chore: Clean up API tests, improve coverage
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/routes/api/v1/inc.ex
  elixir-api/lib/utils/cache.ex
  elixir-api/test/api_test.exs
  elixir-api/test/hexerei_test.exs
  elixir-api/test/pt_test.exs
  elixir-api/test/support/fixtures.exs
  elixir-api/test/support/mocks.exs
  elixir-api/test/test_helper.exs
  elixir-api/test/translate_test.exs
Due: none

chore: Add test coverage for API
  .gitignore
  elixir-api/Makefile
  elixir-api/lib/routes/api/base.ex
  elixir-api/lib/routes/api/v1/inc.ex
  elixir-api/mix.exs
Due: none

chore: Lots of misc. cleanup
  svelte-app/src/components/bullet-point.svelte
  svelte-app/src/components/context-menu.svelte
  svelte-app/src/components/context-menu/divider.svelte
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/context-menu/menu.ts
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/content/post/header.svelte
  svelte-app/src/components/document/content/project/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/empty-content.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/headings/icon-header.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/lists/year-list.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/data.ts
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/lib/helpers/menu.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/icons.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/src/routes/api/[[version]]/mutate/+server.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: No idea why this was broken but ok
  elixir-api/lib/routes/api/v1/inc.ex
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/api/[[version]]/mutate/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Image style issues, colours
  Makefile
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/lib/icons.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use @import for font-families
  svelte-app/src/app.html
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/styles/_fonts.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Provide routeFetch to documentRoute component
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Constrain fetched image width based on src's width
  svelte-app/src/components/portable-text/serializers/image.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps): bump actions/setup-node from 3 to 4"
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
Due: none

Revert "chore(deps-dev): bump netlify-cli from 15.10.0 to 17.2.1 in /svelte-app"
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

Revert "Revert "chore(deps): bump actions/setup-node from 3 to 4""
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
Due: none

chore: Remove unused deps, *.d.ts, unknown PT mark prop
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/nav/nav-social.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/portable-text/serializers/null-mark.svelte
  svelte-app/src/lib/helpers/image.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/types/app/api/index.ts
  svelte-app/types/app/config/index.ts
  svelte-app/types/app/documents/author.ts
  svelte-app/types/app/documents/index.ts
  svelte-app/types/app/documents/post.ts
  svelte-app/types/app/documents/project.ts
  svelte-app/types/app/index.ts
  svelte-app/types/app/sanity/index.ts
  svelte-app/types/app/sanity/pt.ts
  svelte-app/types/global.d.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Use UTC for all dates since time isn't shown anyways
  svelte-app/src/lib/helpers/date.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Try setting UTC date when formatting
  svelte-app/src/lib/helpers/date.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up some utils/params
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/types/app/documents/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update nav design
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/styles/_colors.scss
  svelte-app/tailwind.config.cjs
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Break apart image serializer
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/images/image-modal.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/portable-text/image-carousel.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/types/app/documents/index.ts
  svelte-app/types/app/sanity/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps-dev): bump @sanity/eslint-config-studio from 3.0.0 to 3.0.1 in /sanity-cms"
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
Due: none

Revert "chore(deps-dev): bump prettier from 2.8.8 to 3.1.0 in /sanity-cms"
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
Due: none

chore: Bump cypress, svelte deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

fix: Actually centre images
  svelte-app/src/components/images/image.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update deps
  svelte-app/.prettierrc.json
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update Sanity deps
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  sanity-cms/structure.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Vitest weirdness
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/test/lib/i18n.test.ts
  svelte-app/test/utils/fake-store.ts
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Rework header styles
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/footer.svelte
  svelte-app/src/components/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Don't pass Header as child to PageTransition container
  svelte-app/src/components/layouts/constrain-width.svelte
  svelte-app/src/components/layouts/page-content.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps): bump follow-redirects from 1.15.2 to 1.15.4 in /sanity-cms"
  sanity-cms/pnpm-lock.yaml
Due: none

feat: Tidy Sanity Schema, fix deploys
  elixir-api/lib/routes/api/v1/config.ex
  elixir-api/lib/utils/translate.ex
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/settings.ts
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/api/[[version]]/get/[[type]]/[[many]]/+server.ts
  svelte-app/types/app/config/index.ts
  svelte-app/types/app/documents/author.ts
  svelte-app/types/app/documents/index.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove leftover comments
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: sanity-cms/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: svelte-app/**/*.{svelte,ts,js}
  deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts: any of: svelte-app/src/languages/*.json
