Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./sanity-cmd/node_modules/.bin/eslint --config ./sanity-cms/.eslintrc --resolve-plugins-relative-to ./sanity-cms --fix, npx stylelint --fix, ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix, ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

.lintstagedrc.json:

{
  "**/sanity-cmd/**/*.{ts,js}": [
    "npx prettier --config ./.prettierrc.json --plugin-search-dir . --write",
    "./sanity-cmd/node_modules/.bin/eslint --config ./sanity-cms/.eslintrc --resolve-plugins-relative-to ./sanity-cms --fix"
  ],
  "*.scss": "npx stylelint --fix",
  "**/express-api/**/*.{ts,js}": [
    "./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write",
    "./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix"
  ],
  "**/svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write",
    "./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix"
  ]
}

Fix fetch functions, add missing types
  scripts/install.sh
  svelte-app/src/routes/api/getPosts.ts
  svelte-app/src/stores/posts.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Fix req types
  .github/workflows/cypress.yml
  .github/workflows/vitest.yml
  .lintstagedrc.json
  .prettierrc.json
  scripts/cypress.sh
  scripts/install.sh
  scripts/run-dev.sh
  svelte-app/.prettierrc
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/support/index.ts
  svelte-app/rollup.config.js
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/api/getPost.ts
  svelte-app/src/routes/api/getPosts.ts
  svelte-app/src/routes/api/pgp.ts
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/stores/theme.ts
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add logger util, better errors, start other pages
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/lib/cache.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/logger.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/api/getAbout.ts
  svelte-app/src/routes/api/getPosts.ts
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/stores/about.ts
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/store.ts
  svelte-app/test/components/nav.test.ts
  svelte-app/test/stores/store.test.ts
  svelte-app/test/utils/cache.test.ts
  svelte-app/tsconfig.json
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Update cypress config
  svelte-app/cypress.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Start rust api :)
  rust-api/.gitignore
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/src/client.rs
  rust-api/src/main.rs
  rust-api/src/sanity.rs
  svelte-app/src/components/blog/blog-post.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-content.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/loader/inline.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/index.svelte
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

fix vitest, more api stuffs
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/src/client.rs
  rust-api/src/main.rs
  rust-api/src/sanity.rs
  rust-api/src/sanity/client.rs
  rust-api/src/sanity/mod.rs
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/test/components/loader.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Update README.md
  README.md
Due: none

Add /about route to api, fix posts fetching
  .lintstagedrc.json
  express-api/index.ts
  express-api/lib/query.ts
  package.json
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/api/getPost.ts
  svelte-app/src/routes/api/getProject.ts
  svelte-app/src/routes/api/getProjects.ts
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/stores/posts.ts
  svelte-app/src/stores/work.ts
  svelte-app/vite.config.ts
  yarn.lock
Due: ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix, ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Fix husky init script
  package.json
Due: none

Create LICENSE
  LICENSE
Due: none

Delete README.md
  svelte-app/README.md
Due: none

Delete rollup.config.js
  svelte-app/rollup.config.js
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add loading text, fix header controls spacing
  svelte-app/package.json
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/stores/work.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

fix tests, env vars
  svelte-app/package.json
  svelte-app/src/components/loader/full.svelte
  svelte-app/test/components/loader.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add new sanity schemas, post elems
  .lintstagedrc.json
  sanity-cms/.eslintrc
  sanity-cms/deskStructure.js
  sanity-cms/package.json
  sanity-cms/sanity.json
  sanity-cms/schemas/author.js
  sanity-cms/schemas/item.js
  sanity-cms/schemas/objects/divider.js
  sanity-cms/schemas/project.js
  sanity-cms/schemas/schema.js
  sanity-cms/yarn.lock
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/routes/blog/[slug]@blog.svelte
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add more PT serializers
  svelte-app/src/components/bullet-point.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
  svelte-app/src/components/portable-text/serializers/custom-code.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add more PT serializers, project queries, components
  express-api/index.ts
  express-api/lib/query.ts
  express-api/tsconfig.json
  express-api/types.d.ts
  sanity-cms/schemas/author.js
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/content-wrapper.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/divider.svelte
  svelte-app/src/components/read-more.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/components/works/list-item.svelte
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/routes/__error.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/about.svelte
  svelte-app/src/routes/api/getPost.ts
  svelte-app/src/routes/api/getPosts.ts
  svelte-app/src/routes/api/getProject.ts
  svelte-app/src/routes/api/getProjects.ts
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/pgp.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/tailwind.config.cjs
Due: ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix, ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Update dependabot.yml
  .github/dependabot.yml
Due: none

Add netlify adapter
  svelte-app/package.json
  svelte-app/svelte.config.js
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Update svelte build config
  .gitignore
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add netlify config
  svelte-app/netlify.toml
Due: none

Update workflows, CI
  .github/workflows/ci.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/test.yml
  Makefile
  README.md
  svelte-app/package.json
  svelte-app/yarn.lock
Due: none

remove old files
  .github/img/home.jpg
  .github/img/post.jpg
Due: none

fix workflows
  .github/workflows/ci.yml
  .github/workflows/cypress.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/vitest.yml
  Makefile
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Try setting env vars for test builds
  .github/workflows/cypress.yml
  Makefile
  scripts/build-test.sh
Due: none

Add e2e tests, helpers
  svelte-app/cypress/e2e/features/theme.cy.ts
  svelte-app/cypress/e2e/helpers/colors.ts
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/index.cy.ts
  svelte-app/cypress/fixtures/about.ts
  svelte-app/cypress/fixtures/index.ts
  svelte-app/cypress/types.d.ts
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/routes/__layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add feature toggles, switch components, fix eslint rules
  express-api/lib/query.ts
  svelte-app/.eslintrc.cjs
  svelte-app/package.json
  svelte-app/src/app.html
  svelte-app/src/components/background-waves.svelte
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-highlight.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/toggles/switch-item.svelte
  svelte-app/src/components/toggles/switch.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/__layout.svelte
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/index.svelte
  svelte-app/src/routes/secret.svelte
  svelte-app/src/routes/work.svelte
  svelte-app/src/stores/features.ts
  svelte-app/yarn.lock
Due: ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix, ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

fix unit tests, add cypress component testing
  svelte-app/cypress.config.ts
  svelte-app/cypress/integration/loader.spec.ts
  svelte-app/cypress/plugins/index.ts
  svelte-app/cypress/support/component-index.html
  svelte-app/cypress/support/component.ts
  svelte-app/test/components/loader.test.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Update test.yml
  .github/workflows/test.yml
Due: none

Add helper for twemoji, update styles
  svelte-app/src/components/toggles/switch-item.svelte
  svelte-app/src/components/toggles/switch.svelte
  svelte-app/src/lib/helpers/emoji.ts
  svelte-app/src/routes/blog.svelte
  svelte-app/src/routes/blog/[slug]@blog.svelte
  svelte-app/src/routes/secret.svelte
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Add workflow for API deploy, add new routes / components
  .github/workflows/api-deploy.yml
  .github/workflows/api.yml
  .gitignore
  Makefile
  express-api/index.ts
  express-api/lib/query.ts
  express-api/package.json
  express-api/tsconfig.json
  express-api/types.d.ts
  express-api/webpack.config.js
  express-api/yarn.lock
  scripts/run-dev-backed.sh
  scripts/run-dev.sh
  svelte-app/package.json
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/index/list-item.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/+page.ts
  svelte-app/src/routes/api/getPosts/+server.ts
  svelte-app/src/routes/blog.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/tailwind.config.cjs
Due: ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix, ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix

Set proper res headers, add back auth check
  express-api/index.ts
Due: ./express-api/node_modules/.bin/prettier --config ./.prettierrc.json --plugin-search-dir . --write, ./express-api/node_modules/.bin/eslint --config ./.eslintrc --resolve-plugins-relative-to . --fix

Fix envs, cypress tests
  .github/workflows/api-deploy.yml
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --config ./svelte-app/.prettierrc --plugin-search-dir ./svelte-app --write, ./svelte-app/node_modules/.bin/eslint --config ./svelte-app/.eslintrc.cjs --resolve-plugins-relative-to ./svelte-app --fix
