Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, npx stylelint --fix, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix more headers, fuck me
  express-api/index.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

more verbose error for endpoint
  .github/workflows/netlify-deploy.yml
  svelte-app/package.json
  svelte-app/src/lib/env.ts
  svelte-app/src/routes/api/getPosts/+server.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add workflow for Sanity
  .github/workflows/api-deploy.yml
  .github/workflows/api.yml
  .github/workflows/ci.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  sanity-cms/.eslintrc
Due: none

Some chores
  .nvmrc
  Makefile
  express-api/index.ts
  scripts/run-dev-backed.sh
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/api/getPosts/+server.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add query func to rust api, update res / error handling
  rust-api/Cargo.lock
  rust-api/Cargo.toml
  rust-api/rust-toolchain
  rust-api/src/main.rs
  rust-api/src/sanity/client.rs
  rust-api/src/sanity/mod.rs
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/index/list-item.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/blog/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update README.md
  README.md
Due: none

Remove 'type: module' from package.json
  svelte-app/package.json
Due: none

Try specifying node v16.16 as a workaround to ts-node compat
  .github/workflows/cypress.yml
  .nvmrc
  svelte-app/package.json
Due: none

Improve a11y, add Sanity script for cleaning up docs
  sanity-cms/.eslintrc
  sanity-cms/package.json
  sanity-cms/scripts/deleteUnusedAssets.js
  sanity-cms/yarn.lock
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/routes/blog/[slug]/+page.svelte
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Try to resolve cypress install err
  .github/workflows/cypress.yml
  .github/workflows/vitest.yml
  Makefile
  svelte-app/yarn.lock
Due: none

Update workflows, add custom Sanity deploy
  .github/workflows/cypress.yml
  .github/workflows/sanity.yml
  Makefile
  express-api/client.ts
  express-api/index.ts
  sanity-cms/.eslintrc
  sanity-cms/package.json
  sanity-cms/plugins/studio-logo/Logo.js
  sanity-cms/plugins/studio-logo/sanity.json
  sanity-cms/plugins/studio-logo/schnauzer.png
  sanity-cms/sanity.json
  scripts/check.sh
  scripts/dev.sh
  scripts/install.sh
  scripts/run-dev-backed.sh
  scripts/run-dev.sh
  scripts/server.sh
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

Add netlify-cli to sanity :-)
  .github/workflows/sanity.yml
  sanity-cms/netlify.toml
  sanity-cms/package.json
  sanity-cms/plugins/studio-logo/Logo.js
  sanity-cms/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix

Update sanity workflow
  .github/workflows/sanity.yml
Due: none

Update sanity logo plugin
  sanity-cms/plugins/studio-logo/Logo.js
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix

Update api workflow
  .github/workflows/api-deploy.yml
  express-api/index.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix

Update env, upgrade sanity
  sanity-cms/package.json
  sanity-cms/yarn.lock
  svelte-app/src/lib/env.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix URL hash from +layout load being null sometimes
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/work/[slug]/+page.server.ts
  svelte-app/src/routes/work/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update schemas, try to fix eslint/babel parsing issue
  sanity-cms/.eslintrc
  sanity-cms/deskStructure.js
  sanity-cms/package.json
  sanity-cms/schemas/schema.js
  sanity-cms/schemas/settings.js
  sanity-cms/yarn.lock
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix

disable linting sanity-cms for now cause babel-eslint SUCKS i guess
  .lintstagedrc.json
Due: none

Switch to pixelarticons :)
  svelte-app/package.json
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix author name wrapping 🤓
  svelte-app/src/components/blog/post-header.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add cdn path to api
  express-api/client.ts
  express-api/index.ts
  express-api/package.json
  express-api/yarn.lock
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/lib/env.ts
  svelte-app/src/lib/helpers/image.ts
  svelte-app/src/routes/api/getAbout/+server.ts
  svelte-app/src/routes/api/getPost/+server.ts
  svelte-app/src/routes/api/getPosts/+server.ts
  svelte-app/src/routes/api/getProject/+server.ts
  svelte-app/src/routes/api/getProjects/+server.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update about page, author schema, pinned documents, types
  express-api/index.ts
  express-api/lib/query.ts
  sanity-cms/schemas/author.js
  sanity-cms/schemas/settings.js
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/content-wrapper.svelte
  svelte-app/src/components/divider.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/helpers/image.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/about/+page.ts
  svelte-app/src/routes/api/getConfig/+server.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/blog/all/+page.svelte
  svelte-app/src/routes/blog/all/+page.ts
  svelte-app/src/routes/pgp/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.ts
  svelte-app/src/routes/work/all/+page.svelte
  svelte-app/src/routes/work/all/+page.ts
  svelte-app/src/stores/config.ts
  svelte-app/src/stores/posts.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix guards for about route, fix cy tests
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/error-text.svelte
  svelte-app/src/routes/about/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Make loading msgs work with SSR & CSR 🥳
  svelte-app/package.json
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/routes/api/getConfig/+server.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Remove unused import
  svelte-app/src/components/loader/full.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Rework loader, error page, add 'project' route + api endpoint
  express-api/index.ts
  express-api/lib/query.ts
  svelte-app/cypress/integration/loader.spec.ts
  svelte-app/src/components/blog/post-footer.svelte
  svelte-app/src/components/blog/post-header.svelte
  svelte-app/src/components/headings/page-heading.svelte
  svelte-app/src/components/icon-header.svelte
  svelte-app/src/components/loader/full.svelte
  svelte-app/src/components/loader/inline.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/animations/spinner.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/loading/inline.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/work/project-content.svelte
  svelte-app/src/components/work/project-footer.svelte
  svelte-app/src/components/work/project-header.svelte
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/+page.ts
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.ts
  svelte-app/src/routes/blog/all/+page.svelte
  svelte-app/src/routes/blog/all/+page.ts
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.ts
  svelte-app/src/stores/blog.ts
  svelte-app/src/stores/work.ts
  svelte-app/test/components/loader.test.skip.ts
Due: ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Add guards for Page store, fix scss syntax
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update sanity schemas for image type
  sanity-cms/schemas/author.js
  sanity-cms/schemas/post.js
  sanity-cms/schemas/project.js
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./sanity-cms/node_modules/.bin/eslint --fix

fine-tweak some menu, indicator stuff
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/nav.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update context menu scroll logic, makefile targets
  Makefile
  svelte-app/src/components/context-menu/menu.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Update makefile targets, lazy-load icons when needed
  Makefile
  sanity-cms/yarn.lock
  scripts/build-prod.sh
  scripts/dev.sh
  scripts/install.sh
  scripts/server.sh
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu.svelte
  svelte-app/src/components/context-menu/option.svelte
  svelte-app/src/components/footer-controls.svelte
  svelte-app/src/components/header-controls.svelte
  svelte-app/src/components/icon-header.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/safe-icon.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/lib/helpers/browser.ts
  svelte-app/src/lib/helpers/menu.ts
  svelte-app/src/lib/types.d.ts
  svelte-app/src/routes/+error.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/blog/+page.svelte
  svelte-app/src/routes/blog/[slug]/+page.svelte
  svelte-app/src/routes/blog/all/+page.svelte
  svelte-app/src/routes/pgp/+page.svelte
  svelte-app/src/routes/secret/+page.svelte
  svelte-app/src/routes/work/+page.svelte
  svelte-app/src/routes/work/[slug]/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/src/stores/work.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: **/sanity-cms/**/*.{ts,js}
  ./sanity-cms/node_modules/.bin/eslint --fix: any of: **/sanity-cms/**/*.{ts,js}
  npx stylelint --fix: any of: *.scss
  ./express-api/node_modules/.bin/prettier --write: any of: **/express-api/**/*.{ts,js}
  ./express-api/node_modules/.bin/eslint --fix: any of: **/express-api/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: **/svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: **/svelte-app/**/*.{svelte,ts,js}
