Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

.lintstagedrc.json:

{
  "sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --fix"
  ],
  "svelte-app/src/languages/*.json": [
    "deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts"
  ]
}

fix: Disable broken cypress tests
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove unused deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/types/global.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove unused test fixtures
  svelte-app/cypress/e2e/routes/about.cy.ts
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/cypress/fixtures/about.ts
  svelte-app/cypress/plugins/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Page heading overflow
  svelte-app/src/components/controls/page-controls.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Load data in parallel, fetch PTHeadings locally
  sanity-cms/schemas/fields/code.ts
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/emoji.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Link indicator positioning
  svelte-app/src/components/nav/slider-indicator.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Infinite event loop oooops :3
  svelte-app/src/components/document/content/common/summary/item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Sanity schema errs
  sanity-cms/schemas/objects/body.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Makefile issue, Vite manual chunking
  Makefile
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Nav link indicator funkiness
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav-links.svelte
  svelte-app/src/components/nav/slider-indicator.svelte
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Fix deprecation warnings
  elixir-api/config/config.exs
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
Due: none

fix: Some (slightly janky) style fixes
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/lists/blog-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Enable Edge SSR
  .github/workflows/netlify-deploy.yml
  svelte-app/netlify.toml
  svelte-app/src/app.scss
  svelte-app/src/lib/env.server.ts
  svelte-app/src/params/lang.ts
  svelte-app/src/params/plus.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[plus=plus]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[plus=plus]/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[plus=plus]/[slug]/+page.ts
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Revert adatper opts change
  svelte-app/svelte.config.js
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Pass `lang` param to fetch in server layout
  svelte-app/src/routes/+layout.server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add loading indicator to codeblocks using HlLang async imports
  svelte-app/src/components/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Remove unused consts, deps
  pnpm-lock.yaml
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/loading/animations/circle.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.server.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/vite.config.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: list item borders, summary onClick dispatch
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/lists/blog-item.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps-dev): bump typescript from 5.1.3 to 5.1.6 in /svelte-app"
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

feat: Refactor heading parser, move to api
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/posts.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/routes/api/v1/projects.ex
  elixir-api/lib/utils/pt.ex
  elixir-api/lib/utils/utils.ex
  elixir-api/mix.exs
  elixir-api/mix.lock
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  svelte-app/src/components/document/content/common/summary.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page@.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page@.svelte
  svelte-app/src/routes/api/[[version]]/transform/parsept/+server.ts
  svelte-app/types/app/documents/index.d.ts
  svelte-app/types/app/documents/post.d.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

test: Add tests for API PortableText changes
  elixir-api/test/fixtures.exs
  elixir-api/test/pt_test.exs
Due: none

chore: Bump deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

chore: Misc. cleanup
  elixir-api/lib/utils/pt.ex
  svelte-app/src/components/document/route.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/env.server.ts
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/helpers/pt.ts
  svelte-app/src/lib/helpers/scrollTo.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Disable broken Cy test
  svelte-app/cypress/e2e/routes/blog.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up styles, dead code
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/dialog.svelte
  svelte-app/src/components/document/content/common/summary/items.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/layouts/scroll-container.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/blog-section.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/now-playing-widget.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[plus=plus]/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Misc. more component cleanup
  svelte-app/src/app.scss
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/animations/spinner.svelte
  svelte-app/src/components/loading/bar.svelte
  svelte-app/src/components/loading/full.svelte
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/components/nav.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme
  README.md
Due: none

chore: More small cleanups
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/+layout.server.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/settings.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Fix nav link issues, remove unused deps
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/lists/project-item.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/slider-indicator.svelte
  svelte-app/src/lib/helpers/date.ts
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Revert "chore(deps-dev): bump prettier from 2.8.8 to 3.0.3 in /sanity-cms"
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
Due: none

chore: Add debug logs for Translate util
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/utils/translate.ex
Due: none

fix: Improve translation util
  elixir-api/lib/utils/translate.ex
Due: none

fix: Allow URIs for social link settings in Sanity
  sanity-cms/schemas/settings.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write

fix: Translate proj/post headings
  elixir-api/lib/routes/api/v1/post.ex
  elixir-api/lib/routes/api/v1/project.ex
  elixir-api/lib/utils/translate.ex
Due: none

fix: Fix a11y issues
  svelte-app/cypress/e2e/routes/blog.cy.ts
  svelte-app/src/components/controls/page-controls.svelte
  svelte-app/src/components/icon.svelte
  svelte-app/src/components/layouts/content-wrapper.svelte
  svelte-app/src/components/lists/blog-item.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav-links.svelte
  svelte-app/src/components/tags.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: nav issues, styling
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/controls/language-toggle.svelte
  svelte-app/src/components/controls/menu-toggle.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/nav.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix, deno run --no-npm --allow-read --allow-write ./svelte-app/scripts/sort-json.ts

fix: Add og:icon meta, remove unused fonts
  svelte-app/src/app.html
Due: none
