Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: ./sanity-cms/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/prettier --write, ./express-api/node_modules/.bin/eslint --fix, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

[ImgBot] Optimize images
  svelte-app/static/android-chrome-192x192.png
  svelte-app/static/android-chrome-512x512.png
  svelte-app/static/apple-touch-icon.png
  svelte-app/static/assets/logo-text--short.png
  svelte-app/static/assets/logo-text.png
  svelte-app/static/assets/spinner.png
  svelte-app/static/favicon-32x32.png
Due: none

feat: Add 'language' prop for projects, clean up list-items, pagination
  Makefile
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/utils/build_query.ex
  elixir-api/lib/utils/sanity_client.ex
  sanity-cms/schemas/project.ts
  svelte-app/src/app.scss
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[page=int]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[page=int]/+page.svelte
  svelte-app/types/app/documents/index.d.ts
  svelte-app/types/app/documents/project.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Finish footnotes schema, remove nav scroll helper
  sanity-cms/schemas/objects/body.ts
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/lib/helpers/navigation.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/navigation.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Try adding caching for Yarn, update build targets
  .github/workflows/netlify-deploy.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
  scripts/server.sh
Due: none

fix(svelte): Error when PT footnotes aren't expected type
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/api/[[version]]/get/parsedPt/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update actions/cache to v3
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
Due: none

chore(svelte): Fix some eslint warns
  svelte-app/src/components/document/content/common/summary/summary.svelte
  svelte-app/src/components/document/content/common/summary/wrapper.svelte
  svelte-app/src/routes/api/[[version]]/embed/[type]/[model]/[[slug]]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore(svelte): Update lint config
  package.json
  svelte-app/.eslintrc.cjs
  svelte-app/.prettierrc.json
  svelte-app/package.json
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/context-menu/menu.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/custom-cursor.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/common/summary/item.svelte
  svelte-app/src/components/document/content/wrapper.svelte
  svelte-app/src/components/loading/animations/line.svelte
  svelte-app/src/components/loading/animations/spinner.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/divider.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/work/list-item.svelte
  svelte-app/src/lib/error-bound/error-bound.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/pgp/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/types/app/documents/author.d.ts
  svelte-app/yarn.lock
  yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat(svelte): Observe OS' prefersTheme on initial load
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/stores/theme.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Try to fix eslint OOM crashes
  svelte-app/.eslintrc.cjs
Due: none

Fix cypress error, bump CI to node 18.x
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  svelte-app/cypress/e2e/features/theme.cy.ts
  svelte-app/package.json
  svelte-app/src/stores/theme.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix(svelte): Teeny tiny visual bug :)
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/document/content/content.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Bump @sveltejs/kit to v1.0.0 🥳
  svelte-app/.eslintrc.cjs
  svelte-app/package.json
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/ol-item.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-item.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/logger.ts
  svelte-app/src/lib/store.ts
  svelte-app/test/lib/helpers/placeholders.test.ts
  svelte-app/test/lib/helpers/pt.test.ts
  svelte-app/test/lib/logger.test.ts
  svelte-app/test/lib/utils/cache.test.ts
  svelte-app/test/store.test.ts
  svelte-app/vite.config.ts
  svelte-app/vitest.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

Fix eslint
  svelte-app/.eslintrc.cjs
Due: none

fix: Broken animations, cleanup old components, start proper history store
  svelte-app/src/app.html
  svelte-app/src/components/blog/list-item.svelte
  svelte-app/src/components/index/list-item.svelte
  svelte-app/src/components/list-item-wrapper.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/api/[[version]]/transform/parsept/+server.ts
  svelte-app/src/stores/navigation.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: update/fix link styles / nav width
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/toggles/menu-toggle.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Nav colours, codeinput vals, control widths
  sanity-cms/package.json
  sanity-cms/schemas/objects/body.ts
  sanity-cms/schemas/utils/code.ts
  sanity-cms/yarn.lock
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/footer-controls.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/vite.config.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: use dyn imports instead of stinky switch case for codeblocks
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/index/list-item.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: ul styles
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Add some missing fr translations
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: none

chore: oops more console logs left over
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/code-block.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Update Elixir env handling
  .github/workflows/api.yml
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
  elixir-api/bin/start
  elixir-api/config/dev.env.exs
  elixir-api/config/prod.env.exs
  elixir-api/config/test.env.exs
  elixir-api/lib/app/application.ex
  elixir-api/lib/app/env.ex
  elixir-api/lib/app/router.ex
  elixir-api/lib/mix/tasks/docker.build.ex
  elixir-api/lib/mix/tasks/docker.ex
  elixir-api/lib/mix/tasks/utils.ex
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/jwt.ex
  elixir-api/lib/utils/plugs/verify_request.ex
  elixir-api/lib/utils/sanity_client.ex
  elixir-api/mix.exs
Due: none

fix: Elixir build script/dockerfile args
  .github/workflows/api.yml
  elixir-api/Dockerfile
  elixir-api/Makefile
  elixir-api/bin/release
Due: none

feat: Add section for extLinks on projects
  .github/workflows/api.yml
  svelte-app/src/components/document/content/common/footer.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Tidy up some meta tags
  svelte-app/src/components/document/route.svelte
  svelte-app/src/routes/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/about/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Clean up nav, add link component
  svelte-app/src/components/nav/link-indicator.svelte
  svelte-app/src/components/nav/nav-link.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: Missing translation :p
  svelte-app/src/languages/en.json
  svelte-app/src/languages/fr.json
Due: none

fix: (maybe) fix *.txt endpoint bug?
  svelte-app/src/routes/[[lang=lang]]/[file=txt]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: 'About' timeline item bodies, pgp route load fn
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/routes/[[lang=lang]]/pgp/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

fix: overflow bug w/ Chromeium-based browsers
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/routes/+layout.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Initial comment sys 🥳
  elixir-api/lib/routes/api/v1.ex
  elixir-api/lib/utils/build_query.ex
  sanity-cms/schemas/author.ts
  sanity-cms/schemas/comment.ts
  sanity-cms/schemas/post.ts
  sanity-cms/schemas/project.ts
  sanity-cms/structure.ts
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/lib/store.ts
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page.ts
  svelte-app/src/routes/[[lang=lang]]/work/[slug]/+page@.svelte
  svelte-app/src/routes/api/[[version]]/get/comment/[[many]]/+server.ts
  svelte-app/src/stores/features.ts
  svelte-app/types/app/documents/comment.d.ts
  svelte-app/types/app/documents/index.d.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Add tooltip component
  svelte-app/package.json
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Improve tooltips, refactor Feature store
  .node_version
  .nvmrc
  svelte-app/cypress/e2e/features/tooltips.cy.ts
  svelte-app/cypress/e2e/helpers/features.ts
  svelte-app/package.json
  svelte-app/src/app.scss
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/header-controls.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/header.svelte
  svelte-app/src/components/nav/nav.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/toggles/theme-toggle.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/lib/sfx/index.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/stores/features.ts
  svelte-app/src/styles/_colors.scss
  svelte-app/vite.config.ts
  svelte-app/yarn.lock
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Add unit tests for i18n fns
  svelte-app/package.json
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/test/lib/cache.test.ts
  svelte-app/test/lib/i18n.test.ts
  svelte-app/test/utils/fake-store.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Use node 18 LTS for all workflows, update cache
  .github/workflows/api.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
  .github/workflows/test.yml
  Makefile
  svelte-app/cypress/e2e/features/theme.cy.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: Refactor settings store (again lol)
  svelte-app/cypress/e2e/helpers/features.ts
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/document/content/common/footer.svelte
  svelte-app/src/components/document/content/common/summary/heading.svelte
  svelte-app/src/components/page-transition.svelte
  svelte-app/src/components/toggles/sounds-toggle.svelte
  svelte-app/src/components/tooltip.svelte
  svelte-app/src/lib/helpers/i18n.ts
  svelte-app/src/lib/sfx/index.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/[[lang=lang]]/art/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/art/+page.ts
  svelte-app/src/routes/[[lang=lang]]/art/[slug]/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/art/all/+page.svelte
  svelte-app/src/routes/[[lang=lang]]/features/+page.svelte
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Improve perf of settings store by a bit
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

feat: enable tooltips
  svelte-app/src/stores/features.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --fix

chore: Update readme.md
  README.md
Due: none

Path conditions:
  ./sanity-cms/node_modules/.bin/prettier --write: any of: **/sanity-cms/**/*.{ts,js}
  ./express-api/node_modules/.bin/prettier --write: any of: **/express-api/**/*.{ts,js}
  ./express-api/node_modules/.bin/eslint --fix: any of: **/express-api/**/*.{ts,js}
  ./svelte-app/node_modules/.bin/prettier --write: any of: **/svelte-app/**/*.{svelte,ts,js}
  ./svelte-app/node_modules/.bin/eslint --fix: any of: **/svelte-app/**/*.{svelte,ts,js}
