Repository kiosion/kio.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: mix format, ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts", bun ./svelte-app/scripts/lint-json.ts, bun ./svelte-app/scripts/generate-types.ts

.lintstagedrc.json:

{
  "elixir-api/**/*.{ex,exs}": [
    "mix format"
  ],
  "sanity-cms/**/*.{ts,js}": [
    "./sanity-cms/node_modules/.bin/prettier --write"
  ],
  "svelte-app/**/*.{svelte,ts,js}": [
    "./svelte-app/node_modules/.bin/prettier --write",
    "./svelte-app/node_modules/.bin/eslint --config \"./svelte-app/eslint.config.js\" --fix \"./svelte-app/src/**/*.{ts,svelte}\" \"./svelte-app/types/**/*.ts\""
  ],
  "svelte-app/src/languages/*.json": [
    "bun ./svelte-app/scripts/lint-json.ts",
    "bun ./svelte-app/scripts/generate-types.ts"
  ]
}

feat: Design rework, initial changes
  sanity-cms/schemas/settings.ts
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/new/post-list.svelte
  svelte-app/src/components/new/topic-list.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/+page.ts
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/contact/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/.well-known/[path]/+server.ts
  svelte-app/src/routes/old/[[lang=lang]]/[file=txt]/+server.ts
  svelte-app/src/routes/old/[[lang=lang]]/about/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/[slug]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/work/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/work/+page.svelte
  svelte-app/src/routes/thoughts/+layout.ts
  svelte-app/src/routes/thoughts/+page.svelte
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

feat: Design rework, more changes, start schema rework
  sanity-cms/sanity-typegen.json
  sanity-cms/schema.json
  sanity-cms/schemas/page.ts
  sanity-cms/schemas/schema.ts
  sanity-cms/schemas/settings.ts
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/layouts/page-transition.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/about/+page.svelte
  svelte-app/src/routes/etc/+page.svelte
  svelte-app/src/routes/thoughts/+page.svelte
  svelte-app/src/routes/thoughts/[slug]/+page.svelte
  svelte-app/src/routes/thoughts/[slug]/+page.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

feat: More design changes, start on posts page, nav
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/document/content/content.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/document/route.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/lib/nav.svelte.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/thoughts/+page.svelte
  svelte-app/src/routes/thoughts/[slug]/+page.svelte
  svelte-app/src/tailwind.css
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fix error page
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/routes/+error.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

add topics list
  svelte-app/src/routes/thoughts/+/+layout.ts
  svelte-app/src/routes/thoughts/+/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

remove old routes
  svelte-app/src/routes/old/[[lang=lang]]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/.well-known/[path]/+server.ts
  svelte-app/src/routes/old/[[lang=lang]]/[file=txt]/+server.ts
  svelte-app/src/routes/old/[[lang=lang]]/about/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/blog/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/blog/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/etc/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/etc/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/experiments/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/[slug]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/[slug]/+page.svelte
  svelte-app/src/routes/old/[[lang=lang]]/thoughts/[slug]/+page.ts
  svelte-app/src/routes/old/[[lang=lang]]/work/+layout.ts
  svelte-app/src/routes/old/[[lang=lang]]/work/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

more style changes, cleanup
  svelte-app/src/components/about/timeline-item.svelte
  svelte-app/src/components/about/timeline-section.svelte
  svelte-app/src/components/about/timeline.svelte
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/controls/arrow-button.svelte
  svelte-app/src/components/controls/base-toggle.svelte
  svelte-app/src/components/controls/lang-toggle.svelte
  svelte-app/src/components/controls/theme-toggle.svelte
  svelte-app/src/components/document/content/footer.svelte
  svelte-app/src/components/document/content/header.svelte
  svelte-app/src/components/headings/headed-block.svelte
  svelte-app/src/components/hoverable.svelte
  svelte-app/src/components/layouts/base-container.svelte
  svelte-app/src/components/lists/list-item.svelte
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/new/post-list.svelte
  svelte-app/src/components/new/topic-list.svelte
  svelte-app/src/components/portable-text/serializers/custom-heading.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/sidebar.svelte
  svelte-app/src/components/sidebar/profile-image.svelte
  svelte-app/src/components/sidebar/sidebar-block.svelte
  svelte-app/src/components/sidebar/sidebar-headings.svelte
  svelte-app/src/components/sidebar/sidebar-link.svelte
  svelte-app/src/components/sidebar/sidebar-tooltip.svelte
  svelte-app/src/components/sidebar/tooltips.ts
  svelte-app/src/components/sidebar/toru.svelte
  svelte-app/src/components/sidebar/toru.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/contact/+page.svelte
  svelte-app/src/routes/etc/+page.ts
  svelte-app/src/routes/thoughts/+/+layout.ts
  svelte-app/src/routes/thoughts/+layout.ts
  svelte-app/src/routes/thoughts/+page.svelte
  svelte-app/src/routes/thoughts/[slug]/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

update sanity-cli, sanity-studio
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  sanity-cms/sanity-typegen.json
  sanity-cms/sanity.cli.ts
  sanity-cms/sanity.config.ts
  sanity-cms/schema.json
  sanity-cms/schemas/settings.ts
  sanity-cms/structure.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

tweak new schemas, pt rendering
  sanity-cms/schema.json
  sanity-cms/schemas/settings.ts
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-paragraph.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/types/generated/sanity.types.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

update workflow node version
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte.yml
Due: none

fix netlify deploy workflow
  .github/workflows/netlify-deploy.yml
  .github/workflows/svelte.yml
  svelte-app/src/lib/sanity.server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

update secrets for netlify deploy step
  .github/workflows/netlify-deploy.yml
Due: none

fix pt spacing
  svelte-app/src/routes/etc/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

chore: Refactor Actions
  .github/workflows/lint.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sanity-deploy.yml
  .github/workflows/sanity-schema-check.yml
  .github/workflows/sanity.yml
  .github/workflows/svelte-deploy.yml
  .github/workflows/svelte.yml
  Makefile
  sanity-cms/package.json
  svelte-app/package.json
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/post-list.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fix: theme handling, header styling
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/hooks.server.ts
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/lib/settings.ts
  svelte-app/src/lib/sidebar.ts
  svelte-app/src/lib/theme.ts
  svelte-app/src/routes/+layout.server.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/api/mutate/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

lint: run prettier/eslint
  .github/workflows/lint.yml
  sanity-cms/sanity.cli.ts
  sanity-cms/sanity.config.ts
  sanity-cms/schemas/page.ts
  sanity-cms/schemas/schema.ts
  sanity-cms/schemas/settings.ts
  svelte-app/src/hooks.server.ts
  svelte-app/src/lib/api/store.ts
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/nav.svelte.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/lib/utils.ts
  svelte-app/src/routes/+layout.server.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/thoughts/(list)/+/[slug]/+page.ts
  svelte-app/src/routes/thoughts/(post)/[slug]/+page.ts
  svelte-app/src/routes/thoughts/+layout.ts
Due: ./sanity-cms/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fix: restore file routes
  svelte-app/src/routes/.well-known/[path]/+server.ts
  svelte-app/src/routes/[file=txt]/+server.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fix: workflows
  .github/workflows/sanity-deploy.yml
  .github/workflows/svelte-deploy.yml
Due: none

feat: Update header, lint config
  svelte-app/.prettierrc.json
  svelte-app/eslint.config.mjs
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
  svelte-app/src/components/error-boundary.svelte
  svelte-app/src/components/icons/light-bulb.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/new/post-list.svelte
  svelte-app/src/components/pages/about-content.svelte
  svelte-app/src/components/pages/blog-content.svelte
  svelte-app/src/components/pages/home-content.svelte
  svelte-app/src/components/pages/post-content.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/custom-link.svelte
  svelte-app/src/components/portable-text/serializers/custom-quote.svelte
  svelte-app/src/components/portable-text/serializers/list-item.svelte
  svelte-app/src/components/portable-text/serializers/ol-wrapper.svelte
  svelte-app/src/components/portable-text/serializers/ul-wrapper.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/components/tooltips/content-preview.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/components/tooltips/tooltip.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/+page.svelte
  svelte-app/src/routes/+page.ts
  svelte-app/src/routes/etc/+page.svelte
  svelte-app/src/routes/thoughts/(list)/+layout.svelte
  svelte-app/src/routes/thoughts/(post)/[slug]/+page.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fix: workflow build/deploy steps
  .github/workflows/sanity-deploy.yml
  .github/workflows/svelte-deploy.yml
Due: none

feat: Header/tooltip changes
  svelte-app/src/components/icons/language-small.svelte
  svelte-app/src/components/icons/light-bulb.svelte
  svelte-app/src/components/icons/minus-circle-small.svelte
  svelte-app/src/components/icons/moon-small.svelte
  svelte-app/src/components/icons/plus-circle-small.svelte
  svelte-app/src/components/icons/plus-small.svelte
  svelte-app/src/components/icons/sun-small.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/pages/blog-content.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/components/tooltips/content-preview.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/components/tooltips/tooltip.svelte
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fixup: spacing tweaks
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/post-list.svelte
  svelte-app/src/components/tooltips/content-preview.svelte
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fixup: w/h calcs for ContentPreview
  svelte-app/src/components/tooltips/content-preview.svelte
  svelte-app/src/routes/+page.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

chore: Use Mise, remove nvmrc
  .nvmrc
  mise.toml
Due: none

fixup: Rework Load funcs, queries, image component
  package.json
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/images/image-modal.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/pages/post-content.svelte
  svelte-app/src/components/portable-text/footnote.svelte
  svelte-app/src/components/portable-text/portable-text.svelte
  svelte-app/src/components/portable-text/serializers/image.svelte
  svelte-app/src/components/theme-toggle.svelte
  svelte-app/src/components/tooltips/inner.svelte
  svelte-app/src/components/tooltips/tooltip.svelte
  svelte-app/src/lib/data.server.ts
  svelte-app/src/lib/sanity.queries.server.ts
  svelte-app/src/lib/sanity.server.ts
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/thoughts/(post)/[slug]/+page.svelte
  svelte-app/src/routes/thoughts/(post)/[slug]/+page.ts
  svelte-app/src/routes/thoughts/+layout.ts
  svelte-app/types/generated/sanity.types.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

fixup: Rework scripts, Makefile, pnpm workspace setup
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/sanity-deploy.yml
  .github/workflows/sanity-schema-check.yml
  .github/workflows/svelte-deploy.yml
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  Makefile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sanity-cms/.npmrc
  sanity-cms/package.json
  sanity-cms/pnpm-lock.yaml
  svelte-app/.npmrc
  svelte-app/package.json
  svelte-app/pnpm-lock.yaml
Due: none

temp: Add code stats block
  sanity-cms/.nvmrc
  svelte-app/.nvmrc
  svelte-app/src/components/code-block.svelte
  svelte-app/src/components/empty-content.svelte
  svelte-app/src/components/images/image.svelte
  svelte-app/src/components/link.svelte
  svelte-app/src/components/loading/spinner.svelte
  svelte-app/src/components/new/footer.svelte
  svelte-app/src/components/new/header.svelte
  svelte-app/src/components/pages/about-content.svelte
  svelte-app/src/components/wakatime-stats.svelte
  svelte-app/src/lib/consts.ts
  svelte-app/src/lib/env.server.ts
  svelte-app/src/routes/+layout.server.ts
  svelte-app/src/routes/+layout.svelte
  svelte-app/src/routes/+layout.ts
  svelte-app/src/routes/etc/+page.svelte
  svelte-app/types/app/wakatime/index.ts
Due: ./svelte-app/node_modules/.bin/prettier --write, ./svelte-app/node_modules/.bin/eslint --config "./svelte-app/eslint.config.js" --fix "./svelte-app/src/**/*.{ts,svelte}" "./svelte-app/types/**/*.ts"

chore: tweak post components, main content
  src/components/images/image.svelte
  src/components/markdown-post.svelte
  src/components/new/post-list.svelte
  src/content/posts/demo.md
  src/lib/consts.ts
  src/lib/content.ts
  src/lib/posts.ts
  src/lib/site-config.ts
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/etc/+page.svelte
  src/routes/etc/+page.ts
  src/routes/thoughts/(list)/+/[slug]/+page.ts
  src/routes/thoughts/(list)/+layout.svelte
  src/routes/thoughts/(post)/[slug]/+page.ts
  src/routes/thoughts/+layout.server.ts
  svelte.config.js
Due: none

chore: add some old content
  src/content/about.md
  src/content/etc.md
  src/content/posts/custom-notifications-with-gdbus-call.md
  src/content/posts/cycle-detection-on-a-graph-that-doesnt-exist-yet.md
  src/content/posts/running-linux-only-binaries-under-freebsd.md
  src/content/posts/using-a-yubikey-for-seamless-ssh-authentication.md
  static/assets/img/8A566FF9-492B-4CB3-945B-2370F47CC856.png
  static/assets/img/ADAC2ADE-B080-4A87-938A-9FEB9714CC64.png
Due: none

chore: re-format files, clean up dead scss
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.scss
  src/components/divider.svelte
  src/components/images/image.svelte
  src/components/markdown-post.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/etc/+page.svelte
  src/routes/thoughts/(list)/+layout.svelte
  src/styles/breakpoints.scss
  src/styles/colors.scss
  src/styles/fonts.scss
  src/styles/mixins.scss
  src/tailwind.css
  svelte.config.js
Due: none

[ImgBot] Optimize images
  static/android-chrome-192x192.png
  static/android-chrome-512x512.png
  static/apple-touch-icon.png
  static/assets/dark-embed.png
  static/assets/dark-icon.png
  static/assets/favicon.png
  static/assets/img/8A566FF9-492B-4CB3-945B-2370F47CC856.png
  static/assets/light-embed.png
  static/assets/light-icon.png
  static/favicon-32x32.png
Due: none

fix: Tweak styles/theme for post content
  src/components/markdown-post.svelte
  src/routes/+error.svelte
  src/routes/+page.svelte
  src/tailwind.css
Due: none

chore: add old elixir guide
  src/content/posts/mixing-websockets-and-http-endpoints-in-elixir-with-cowboy-plug.md
Due: none

chore: add old linux webcam guide
  src/content/posts/use-a-dslr-camera-as-a-webcam-on-linux.md
Due: none

chore: fix date on graph post
  src/content/posts/cycle-detection-on-a-graph-that-doesnt-exist-yet.md
Due: none
